[2016-02-17 10:43] Lauwisme opened #1 "Windows phone tile notifications"
Could you add support for windows phone tile notifications. We want to be able to support notification counts on all platforms we're running our app on (iOS, android and wp).

If we could set that count similar to how we do for iOS using the ios_badgeCount property in  https://documentation.onesignal.com/reference#create-notification, perhaps using so a wp_tileCount property would work for us.

[2016-02-19 09:07] jeropanda opened #2 "Example project"
error : Main manifest has <uses-sdk android:targetSdkVersion='22'> but library uses targetSdkVersion='23'

I just opened and tried to build the example project.

got no idea why I am having errors.

using unity 5

[2016-02-25 10:06] Guhanesh commented on #2
Open SDK Manager.exe in Android SDK. Install API 23(Android 6.0) SDK Platform.Now build.

[2016-03-01 04:25] jeropanda commented on #2
[http://i.imgur.com/BvOOtvI.png](url)

i already installed it but still having the error:

OneSignal-Unity-SDK-master/Unity5OneSignalExample/Temp/StagingArea/android-libraries/onesignal-unity/AndroidManifest.xml:3] Main manifest has <uses-sdk android:targetSdkVersion='22'> but library uses targetSdkVersion='23'

[2016-03-01 08:18] Guhanesh commented on #2
404 error in the image url. @jeropanda

[2016-03-02 04:02] jeropanda commented on #2
http://imgur.com/BvOOtvI

here's the pic, I have installed the latest API 23(Android 6.0) SDK Platform

but still getting the error

[2016-03-04 00:02] jkasten2 commented on #2
Sorry about the regression bug, the entry was creating an issue where all target entries in every `AndroidManifest.xml` would have to match.

We just removed the API target entry from our sdk in version [1.13.2](https://github.com/one-signal/OneSignal-Unity-SDK/releases/tag/1.13.2) to fix this.

Thanks.

[2016-03-04 00:02] #2 closed

[2016-03-22 13:13] BloodJohn opened #3 "strange simple "text" Android notification after every notification from OneSignal"
After about 18 March, we started getting two notifications at a time.

https://monosnap.com/image/H84AJTIhpSPN19IPWC8F1xDBEWHgQS

bonjure - normal notification
miracle mach 3, text - strange notification

In addition to notification with the selected images and text filled in OneSignal, the device comes notification with the text "text", title "Miracle Match 3" and the image of the application sho

[2016-03-23 01:05] jkasten2 commented on #3
Hello,

It appears that you have another GCM receiver that is displaying another notification from the OneSgnal GCM payload. Can you try removing `UnityGCMIntentService` from your app?

Thanks.

[2016-03-23 08:38] BloodJohn commented on #3
Yes, as soon as I removed the "Android GCM Plugin" - the second notice was gone.

Thanks for the help.

[2016-03-23 20:03] #3 closed

[2016-04-04 10:02] peterwilli opened #4 "[Unity] When I close my app from the task bar, no notifications are being received"
Hi,

I know this issue is already up there (but then for Cordova) but this is also more of a question.
I know that people said that you can't receive notifications when forcing the app to close (as in: moving it out of your task bar)

I don't get this, because how do other apps do it then? (like Whatsapp) which I also clearly close from my taskbar from time to time.

Is there a way to make sure th

[2016-04-04 18:57] jkasten2 commented on #4
Hello,

Notification can still be received and displayed when the app has been closed normally. This includes it being killed by the OS to free RAM and a user swiping it away from the recent app list. On Android there is a "Force Stopped" state an app can be placed in but this can only happens in 2 cases.
* If the app is never opened after it has been installed. (Device won't be registered with On

[2016-04-05 01:36] STAR-ZERO opened #5 "Xcode build error."
There was an error following when build in Xcode.

[code]

Problem code is this.
https://github.com/one-signal/OneSignal-Unity-SDK/blob/1.14.0/Unity5OneSignalExample%2FAssets%2FOneSignal%2FPlatforms%2FiOS%2FOneSignalUnityRuntime.m#L202

Correct code is as follows.

[code]

#### Environment

* Unity 5.3.4
* Xcode 7.3

[2016-04-05 04:38] jkasten2 commented on #5
@STAR-ZERO thanks for reporting this. Just fixed it in our 1.14.1 release.

[2016-04-05 04:38] #5 closed

[2016-04-06 10:19] peterwilli commented on #4
It's on Android. When my app is put in the background (as in: pressing home button) there are no problems. I can still receive notifications. But if I remove it from the taskbar, notifications no longer appear.

[2016-04-08 08:35] jkasten2 commented on #4
@peterwilli It sounds like the Android ROM on the device you're using is putting the app in a "force stop" state when you do this. Could you let us know the exact Android version your testing on? We have seen Xiaomi devices do this before as they customize how the OS handles the closed state of apps.

Can you check the logcat when you send a notification after you swipe your app away?
I have a gis

[2016-05-26 23:59] jkasten2 commented on #4
@peterwilli We have found that Huawei devices also put apps into a "force stop" state when the app is swiped away from the recent apps list. Can you check the following if you have either of these brand devices?

App is closed on a Huawei or Xiaomi device due their custom Android tweaks.
* Huawei - Go to Settings > "Protected apps", check your app.
* Xiaomi - Make sure "Auto-start" property enable

[2016-05-27 10:01] peterwilli commented on #4
@jkasten2 Yeah I just was about to say the same thing. I have Xiaomi. It happened too with PushBullet. Not sure why whatsapp and gmail just work then.. Thanks again!

[2016-05-27 10:01] #4 closed

[2016-06-21 05:29] ambermobi opened #6 "Use SDK with play-services-gcm-9.0.2"
i have use  *-service-9.02.. but i get an error:

06-21 12:24:49.708: E/OneSignal(13297): Error Getting Google Registration ID
06-21 12:24:49.708: E/OneSignal(13297): java.lang.NoClassDefFoundError: com.google.android.gms.iid.zzc
06-21 12:24:49.708: E/OneSignal(13297): 	at com.google.android.gms.gcm.GoogleCloudMessaging.zzaS(Unknown Source)
06-21 12:24:49.708: E/OneSignal(13297): 	at com.google.an

[2016-07-01 14:25] Thornus commented on #6
I had this error too, I resolved it just now in 2 steps:
- replaced play-services-gcm-9.0.2 with play-services-gcm-8.3.0
- **if** you get a _class already added_ error while building open play-services-gcm-8.3.0.aar with an archiver program (e.g. WinRAR), extract _classes.jar_, open it with an archiver and find the classes that give the error then delete them. Now replace the old classes.jar with

[2016-07-01 18:06] jkasten2 commented on #6
@ambermobi @Thornus You can use the latest 9.0.2 play-services-*.aar files. However Google changed their class structure so you need to add `play-services-iid-9.0.2.aar` as well to the project. It should be located on your system under `<android-sdk-root>\extras\google\m2repository\com\google\android\gms\play-services-iid\9.0.2`.

[2016-07-04 01:34] ambermobi commented on #6
thank you. just need to add play-services-iid-9.0.2.aar. This resolved!

[2016-07-08 07:48] Snakes128 commented on #6
Thank you very much about issue. For Unity 5 I replace "play-services-gcm" and "play-services-location" for your new 9.2.0 version in my projecte and add "play-services-iid-9.2.0" and work perfectly.

I'm also using new version of "GoogleMobileAdsPlugin".

Thanks again

[2016-07-20 09:59] slavaobninsk commented on #6
Not work with google play services 0.9.24 on Unity 4.

[2016-08-10 02:49] jkasten2 commented on #6
@ambermobi @Thornus @slavaobninsk 1.16.0 of our Unity SDK now includes [unity-jar-resolver](https://github.com/googlesamples/unity-jar-resolver) so you shouldn't see conflicts like this in your Android builds. Feel free to reopen this issue if run into any future conflicts.

[2016-08-10 02:49] #6 closed

[2016-08-25 06:30] Arodus opened #8 "Fatal Exception: java.util.ConcurrentModificationException"
I still get this [Issue](https://github.com/OneSignal/OneSignal-Android-SDK/issues/49) in the current UnitySDK.

    Fatal Exception: java.util.ConcurrentModificationException
       at java.util.LinkedHashMap$LinkedHashIterator.nextEntry(LinkedHashMap.java:346)
       at java.util.LinkedHashMap$KeyIterator.next(LinkedHashMap.java:366)
       at com.onesignal.OneSignalStateSynchronizer.generateJso

[2016-08-25 08:48] jkasten2 commented on #8
@Arodus A few more occurrences of this error was fixed in version 3.0.3 of the native SDK used by this plugin. See https://github.com/OneSignal/OneSignal-Android-SDK/issues/88

We will be updating the Unity SDK to new OneSignal native Android 3.0 and iOS 2.0 SDKs in the next few weeks.

[2016-08-31 11:40] alamboley commented on #8
Any news on this? Seeing this issue prevent me from integrating the current SDK to try OneSignal :p

[2016-08-31 21:43] jkasten2 commented on #8
@alamboley This error is a rare race condition. We have only seen a few apps report of this `ConcurrentModificationException` error across all our SDKs.

We don't have an exact date for you on the release, there are a number of improvements we are bring to the Unity 2.0 SDK.

[2016-09-07 18:28] Cabrra opened #9 "Onesignal Configuration doesn't work for Android"

[2016-09-07 22:02] jkasten2 commented on #9
@Cabrra Make sure to run `Assets` > `Google Play Services` > `Resolve Client Jars`  from the menu bar in Unity. If you have already tried this make sure you are not getting any errors in the Unity console.  See the troubleshooting for a full list of things to check.
https://documentation.onesignal.com/docs/unity-troubleshooting

[2016-09-07 22:02] #9 closed

[2016-09-13 21:33] th3d0g opened #11 "Unity engine not initialising."
Hi, I'm having an issue with Unity and your latest OneSignal Unity package when building to iOS.

When I run my project on any iOS with the OneSignal Unity package imported, the Unity engine doesn't seem to start. The app will load and stay on the splash screen, and not open my scene.

I have my own app controller that extends the default 'UnityAppController.mm' controller as I need to initialise

[2016-09-13 21:37] jkasten2 commented on #11
@th3d0g Are you using the `Unity5OneSignalSDK.unitypackage` or `Unity5OneSignalSDKXC8.unitypackage`? The `Unity5OneSignalSDKXC8.unitypackage` was designed as beta is going to be replaced later this week with a release version.

[2016-09-14 01:41] stigmawall commented on #11
Good to know, for me the Unity5OneSignalSDKXC8.unitypackage gives me errors when I try to compile on iOS. For Android compiles ok, but when I start the app throw a notification, the app crash.

[2016-09-14 10:52] th3d0g commented on #11
@jkasten2 I'm using 'Unity5OneSignalSDK.unitypackage'. Xcode 7.3.1. Unity 5.3.3f1. iOS 9.3.4.

Someone from OneSignal has messaged me to say this issue has been address in v.2 of the plugin. https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.0.0

Will give that a try.

[2016-09-14 13:51] th3d0g commented on #11
Hi @jkasten2 ,

Using v2.0 didn't fix this issue.

You should be able to replicate the issue by extending the 'UnityAppController' with this example 'TestAppController' I've created.
https://gist.github.com/th3d0g/151884ab7048dd0a0bc95696776aa8fc

See the comment at the bottom of the file.

Appreciate any help with this.

[2016-09-16 01:05] jkasten2 commented on #8
@Arodus @alamboley Our [2.0.0 SDK](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.0.0) is release and contains our 3.2.0 native java sdk.

See the new setup instructions below.
https://documentation.onesignal.com/docs/installing-the-onesignal-sdk

[2016-09-16 01:05] #8 closed

[2016-09-21 00:34] jkasten2 commented on #11
@th3d0g Can you remove `<UIApplicationDelegate>` from the class? This should fix the issue for you.

[2016-09-21 10:21] tiyulin1025 opened #13 "Error message in Unity when building to iOS platform"
I just follow the website documentation, but I got the error message when I build the example scene in Unity and the OneSignal SDK version is 2.0.
My Unity version : 5.4.1f & 5.3.4f
By the way, the 1.16.0 version is ok when build to iOS.

"Assets/OneSignal/src/OneSignal.cs(228,173): error CS1502: The best overloaded method match for `OneSignalIOS.OneSignalIOS(string, string, bool, bool, bool, int,

[2016-09-21 16:44] alamboley opened #14 "Crashing on iOS < 10"
Hello,

I sent a push and it worked fine on my iOS 10 device, but on two devices using iOS 9 it crashed the app. I use the 2.0.0 SDK with Xcode 7.3, any ideas?

[2016-09-21 20:00] JKalash commented on #13
Hi there,

Thank you for reporting this issue. Working on releasing an update fixing this issue as we speak.

[2016-09-21 20:55] JKalash commented on #13
Issue fixed ([48c1298](https://github.com/OneSignal/OneSignal-Unity-SDK/commit/48c1298219f03c8f68dc1993d9025ec5109c71e3)).

[2016-09-21 20:55] #13 closed

[2016-09-21 23:34] jkasten2 commented on #14
@alamboley We just released a new revision of our Unity 2.0 SDK. Can you try it to see if it fixes the issue? If you are still seeing a problem can you send us the full stack trace?

[2016-09-26 14:25] alamboley commented on #14
It works fine, thanks!

[2016-09-26 14:25] #14 closed

[2016-09-29 15:03] th3d0g commented on #11
@jkasten2 I can confirm this fixes the issue.

Thanks.

[2016-10-06 17:09] ehudros opened #15 "Alerts are always shown on iOS"
Despite setting OSInFocusDisplayOption.None during Init, ios alerts are still shown for every notification received (on v2.0.0).

[2016-10-06 17:14] ehudros opened #16 "iOS calls the HandleNotificationOpened handler when the app is already in focus (active)"
There seems to be an issue with both handlers (open and receive) being triggered when the app is active. This doesn't happen on Android, which triggers the open handler when the notification is triggered from outside the app and the receive handler when it is in focus.

[2016-10-08 01:00] jkasten2 commented on #15
@ehudros This bug as been fixed in our 2.0.2 release.

Thanks.

[2016-10-08 01:00] #15 closed

[2016-10-08 01:02] #11 closed

[2016-10-31 10:59] khld85 opened #17 "AndroidJavaException: java.lang.NullPointerException"
Hello,
I am getting this exception:
AndroidJavaException: java.lang.NullPointerException
I think it is similar to the following issue:
https://github.com/OneSignal/OneSignal-Android-SDK/issues/84

Here is the Stack Trace:
java.lang.NullPointerException
com.onesignal.OneSignal.internalFireIdsAvailableCallback(OneSignal.java:861)
com.onesignal.OneSignal.idsAvailable(OneSignal.java:835)
com.onesignal

[2016-10-31 23:45] jkasten2 commented on #17
@khld85 Thanks for the report. This is different than issue 84 you linked to as the one has to due with receiving a notification instead of `IdsAvailable`.

Can you try the latest Unity 2.1.0 SDK? Report the new stack trace if you see the same issue.

Also let us know when you are calling `IdsAvailable` in your code.

[2016-10-31 23:47] jkasten2 commented on #16
@ehudros The receive handler should only trigger when the app is in focus when the notification is received and should be consistent between iOS and Android.

We will see if we can produce the issue and get back to you.

[2016-11-01 05:28] ehudros commented on #16
Thanks. We had this issue in 2.0, haven't tested newer releases yet.

On Nov 1, 2016 1:47 AM, "Josh Kasten" <notifications@github.com> wrote:

[2016-11-09 14:59] khld85 commented on #17
Hello,
I've updated to latest version 2.1.0 and I didn't get the error again yet.

here is how I am using IdsAvailable, I try to get the playerid because the game logic depends on it as a unique identifier for each player per device:
[code]

[2016-11-09 19:45] jkasten2 commented on #17
@khld85 This will cause `OneSignal.IdsAvailable` to be called 10 times a second which isn't efficient. It wasn't designed to be called this quickly so it possible it may not fire in this case.

You should call `OneSignal.IdsAvailable(IdsAvailable);` once and give it some time to complete. I recommend give it 30 seconds in case there are any networking issues.

Thanks.

[2016-11-10 08:00] asadmehmoodlogicon opened #18 "One Signal IOS device No Push Token in Dashboard"
I am trying to implement OneSignal in my unity game, Android is properly setup and receiving Notifications normally.
But after the complete setup of IOS my device is subscribed but with issue "This user have no Push token and cannot be targeted".
Please help me how to setup the push token.
below phase is also completed.
in Xcode in compatibilities   -- > background modes (ON)--> Remote Notificatio

[2016-11-10 15:14] mrcooper opened #19 "Separate Icons and Plugin itself"
For example, in project I have icons that used as application icons, local notification icons etc.
So this icons I want to use as OneSignal icons too.
But OneSignal icon names hardcoded, I have no possibility to use custom icons.
I need to:
A. replace OneSignals icons with my icons and in whole project change referencies from mine to OneSignal-named icons
or
B. replace OneSignals icons with my ico

[2016-11-22 15:11] Warface opened #20 "No Push Token on Android"
I'm using the latest Google Play Services with the latest OneSignal Unity package and did the Jar Resolvers but I always get a No Push Token when I check my connection on your dashboard.

Everything was working fine with the package before this one, any news on this bug?

[2016-11-26 00:05] jkasten2 commented on #20
@Warface We haven't had any other reports of this on Android. Can you make sure all the required .aar files are in your project noted in our troubleshooting below?
https://documentation.onesignal.com/docs/troubleshooting-unity

Please also check the logcat for any errors or warnings about OneSignal or GCM. Feel free to link a gist of it if you need us to review it as well.

[2016-11-26 00:07] jkasten2 commented on #19
@mrcooper Both options A and B would fix the issue for you.

A 3rd option would be to always set the name of your local custom icon when sending a notification. Since you want a default I recommend creating a template and send all your notifications using it if you go with this option.

[2016-11-26 00:16] jkasten2 commented on #18
Can you also check to make sure you have `"Push Notifications"` above the background modes you listed?
https://documentation.onesignal.com/docs/unity-sdk-setup#section-5-ios-setup

[2016-11-26 00:19] jkasten2 commented on #17
@khld85 I recommend using [`StartCoroutine`](https://docs.unity3d.com/ScriptReference/MonoBehaviour.StartCoroutine.html) if you are still looking into how to implement waiting for 30 seconds.

Feel free to reopen this thread if you are stilling any issues.

[2016-11-26 00:19] #17 closed

[2016-11-27 18:58] dgoemans opened #21 "iOS syncHashedEmail causes crash"
Porting my app to iOS, and I'm having issues calling sync hashed email.

- Using the latest SDK on 27-11-2016
- Setup using XCode 8 (game builds work, get the notification prompt)
- When calling `SyncHashedEmail`, game crashes.
- Log says `[__NSCFString hashUsingMD5]: unrecognized selector`
- I worked around it by downloading `NSString%2BHash.h` and `NSString%2BHash.m` and manually inserting them

[2016-12-02 02:54] jkasten2 opened #22 "Possible crash when network response contains HTML"
Crash from call to `PostNotification` when response from OneSignal returns HTML. This can happen if there is ever a timeout page from a cdn.
[code]

[2016-12-02 03:00] jkasten2 commented on #21
@dgoemans Thanks for the report. This was fixed in our iOS native SDK in version 2.3.0. We will include it in our next update.

[2016-12-06 11:18] jkasten2 commented on #22
Fixed in 56728e2cad16be5f88588cfdca8a04951686d31a

[2016-12-06 11:18] #22 closed

[2016-12-06 11:19] jkasten2 commented on #21
@dgoemans Fixed in 56728e2cad16be5f88588cfdca8a04951686d31a and released in version 2.1.2.

[2016-12-06 11:19] #21 closed

[2016-12-06 11:21] jkasten2 commented on #18
@asadmehmoodlogicon Can you try version 2.1.2? It will provide more information on the OneSignal dashboard. You may also send OneSignal support a link to this github issue and they can check your account from their end.

[2016-12-06 11:22] jkasten2 commented on #16
@ehudros We just released 2.1.2 with a few more fixes to iOS open and received events. Feel free to re-open this issue if you are still seeing any issues with the events.

Thanks.

[2016-12-06 11:22] #16 closed

[2016-12-06 11:23] jkasten2 commented on #20
@Warface I recommend sending a link to this github issue to OneSignal support so they can check your account from their end. Feel free to re-open the issue if you are still stuck.

Thanks.

[2016-12-06 11:23] #20 closed

[2016-12-06 14:59] Zubius opened #23 "Error building WP 81 Unity 5"
Cannot implicitly convert type System.Collections.Generic.Dictionary<string,string> to System.Collections.Generic.Dictionary<string,object>

diff --git a/Unity5OneSignalExample/Assets/OneSignal/src/OneSignalWPWNS.cs b/Unity5OneSignalExample/Assets/OneSignal/src/OneSignalWPWNS.cs
index 2475699..3474d59 100755
--- a/Unity5OneSignalExample/Assets/OneSignal/src/OneSignalWPWNS.cs
+++ b/Unity5OneSignalE

[2016-12-06 16:14] jkasten2 commented on #23
@Zubius Thanks for the details. I just fixed this in commit d2a567db7d3dc926c8375101bbf1a42937b18ea8.

We will include it in our next release.

[2016-12-06 16:14] #23 closed

[2016-12-09 07:34] ipulcrimx opened #24 "The imported type `Google.JarResolver.Dependency' is defined multiple times"
Hi, I just imported one signal to my unity project then I find these errors. I said that PlayServiceSupport has duplicate in JavaResolverLib (the one from admob). I tried to delete one of them and the result is I can't build my apk when I deleted GoogleJarResolver and the unity crashed when I deleted the other one. Can someone help me with this?

Thanks

[2016-12-14 13:10] Kafar opened #25 "No Push token on Android"
Hi,

I return this error after updated Unity 5.4.2f2 with OneSignal SDK 2.1.3
This issue is on Android only.
Can you help me?
Thanks

[2016-12-17 03:13] jkasten2 commented on #25
@Kafar We didn't get your error message. Can you attach the full message again?

Thanks.

[2016-12-29 16:39] ufkshn opened #26 "Crashes on the second launch"
Hi,

We are using latest version of One Signal SDK.  It works on first launch properly. However, when you open the app second time than it directly crashes at startup.
`UnityInitTrampoline();
        UnityParseCommandLine(argc, argv);

        RegisterMonoModules();
        NSLog(@"-> registered mono modules %p\n", &constsection);
        RegisterFeatures();

        // iOS terminates open sockets

[2017-01-02 13:05] Kafar commented on #25
@jkasten2 In attachment the message error in dashboard. It's change randomly from this message to "No Push token".

In addition, exactly which is the latest android sdk supported from OneSignal? What's mean Android SDK 3.4.2? In the Android SDK Manager I can't see this version.
Thanks

![immagine](https://cloud.githubusercontent.com/assets/2155958/21589635/299c0c9e-d0f4-11e6-86e7-e46863231d11.png)

[2017-01-03 13:23] darwin2k commented on #24
same for me :/

[2017-01-03 15:47] ualasand opened #27 "Notifications are not received with the application closed"
Notifications are only received if the application is open or in the background

[2017-01-04 15:52] ufkshn commented on #26
I found the solution:
https://github.com/OneSignal/OneSignal-iOS-SDK/issues/165

[2017-01-04 15:52] #26 closed

[2017-01-07 13:50] lestardigital opened #28 "iOS crash - After IAP"
Integration latest version OneSignal and Unity in-app purchase. After integration  I send InitiatePurchase(product),  application crashed. In xCode I see
[OneSignalTrackIAP respondsToSelector:]: message sent to deallocated instance 0x17401fe40

[2017-01-09 13:32] pmaloka commented on #28
We are experiencing this crash as well. It is crashing on iPhone 7, but not iPhone 6s, both running iOS 10.2. The above message happens with Zombie checking enabled.

[2017-01-09 13:35] lestardigital commented on #28
I experiencing this crash on iPhone 6s and IPad Air

[2017-01-09 15:30] jay-neb commented on #28
I've experienced the same error. iPhone 6 running iOS 9.3, XCode 7.3, Unity 5.4

[2017-01-09 15:37] jay-neb commented on #28
@lestardigital @pmaloka Did you manage to fix it?

[2017-01-09 15:44] lestardigital commented on #28
No

[2017-01-09 20:17] jkasten2 commented on #25
@Kafar The `Google Play Services Library Error` can mean there was an incomplete library in your project or an issue with the device's Google Play services app. Please Follow the first section of our troubleshooting guide below to correct the issue if it was the former.

If the problem persists then I recommend testing on another Android device.  You can also attach the full logcat when the device

[2017-01-09 20:31] jkasten2 commented on #24
@ipulcrimx @darwin2k You can delete the `PlayServicesReslover` in the `Assets` folder and re-import the OneSignal plugin to correct this issue.

The root of the issue is due to our naming of the `DLL` files in folder conflicting with other plugins when added. We will be fixing this by updating to the latest JarResolver library and naming the files correctly. After our update you may still need to

[2017-01-09 20:32] jkasten2 commented on #27
@ualasand This is an know issue with some Android devices. This is most likely the `The app is Force Stopped` issue noted in the documentation page below.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown#section-the-app-is-force-stopped

[2017-01-09 20:44] jkasten2 commented on #28
@lestardigital @pmaloka @jay-neb Thanks for the report, can you check if OneSignal is being initialized more than once in your app?

[2017-01-10 02:01] jkasten2 commented on #28
This issue is most likely the same as the one below.
https://github.com/OneSignal/OneSignal-iOS-SDK/pull/169

It is now merged into the main native iOS SDK and will be included in the next Unity update.

[2017-01-10 07:01] lestardigital commented on #28
@jkasten2 Yes, OneSignal  initialized  once in app

[2017-01-10 07:20] lestardigital commented on #28
@jkasten2 Thanks, problem resolved

[2017-01-10 11:03] Kafar commented on #25
@jkasten2 I updated the Android SDK and Google Play services and I tried to subscribe with another device also. Now in the dashboard the meassge is: NO PUSH TOKEN.

I tried to delete and recreated on Google Services new project and key and resubmitted on OneSignal and put it in my app but the error is the same: NO PUSH TOKEN.

This is my code in Unity in Start() function:

OneSignal.StartInit(appI

[2017-01-10 19:31] jkasten2 commented on #25
That's odd you are only seeing "NO PUSH TOKEN" now. Normally we always get a status error code if we didn't get a Google registration id from the device.

Did you see any errors or warnings in the logcat noted in my last message? You can attach your full logcat here or send it to OneSignal support with a link to this issue and we can look it over.

[2017-01-11 15:29] frbodya commented on #25
Hello, i have the same problem.
before update unity(with old plugin) everything works.

Status  "Google Play Services Library Error"
![onesignal - google chrome 2017-01-10 11 40 19 1](https://cloud.githubusercontent.com/assets/19595544/21854396/422cb912-d823-11e6-8c98-dbd5ed7b12eb.png)
 when i remove device from onesignal user it's give another status "No Push Token"

Plugin 2.3.1
Create empty pro

[2017-01-12 10:20] yangicher opened #29 "In-app crash"
We are using one signal plugin in our project, but after update to unity 5.5 and xcode 8.2.1 with latest onesignal plugin our app always crashed when we tried to make purchase. We are using Unity In-app. In first lunch everything ok, but in next lunches app always crash. We found memory leak in onesignal plugin.

[2017-01-12 12:24] lestardigital commented on #28
If a short period of time to send the purchase of two times in a row and it does not completed first purchase, get an application crash. Even with one initialization on iOS push notification comes twice

[2017-01-12 23:29] jkasten2 commented on #28
@lestardigital I believe the change in my link above will fix the issue. We will release an update the beginning of next week with this fix include.

[2017-01-12 23:30] jkasten2 commented on #29
@yangicher I believe this is the same issue below so I closing this one.
https://github.com/OneSignal/OneSignal-Unity-SDK/issues/28

[2017-01-12 23:30] #29 closed

[2017-01-16 13:40] wovencharlie commented on #28
Is this update coming today? We've been trying to hold on submitting an app update until this was done, but might have to just pull the SDK for now.

[2017-01-17 01:51] jkasten2 commented on #28
@wovencharlie I am shooting for a release before the end of our day tomorrow (Tuesday).

However you can get this fix now by doing the folllwing.
Downlaod the updated native [iOS library 2.3.5](https://github.com/OneSignal/OneSignal-iOS-SDK/blob/2.3.5/iOS_SDK/Framework/OneSignal.framework/Versions/A/OneSignal).
Then rename and replace it with the one in your Unity project `Assets/OneSignal/Platfor

[2017-01-18 04:14] jkasten2 commented on #28
Just fixed and released version 2.1.4 which includes this fix.

[2017-01-18 04:14] #28 closed

[2017-01-19 02:01] appetizermonster opened #30 "iOS IAP Crash"
SDK Version: OneSignal-Unity-SDK v2.1.4

I used OneSignal-Unity-SDK in my iOS unity game. (Internally, the game uses UnityIAP)
In OneSignal-Unity-SDK v2.1.3, I tried to purchase in-app items, my game always crashed.
and it seems it has fixed in v2.1.4.

but crash happens again in v2.1.4 (maybe it's the worst)

Here is how to reproduce:
1. Make in-app purchases
2. Close app (terminate) before succe

[2017-01-19 02:06] jkasten2 commented on #30
@appetizermonster Can you attach the full crash log as well? The stack trace is most likely different.

Thanks.

[2017-01-19 02:12] appetizermonster commented on #30
Here is the crash log.

[plzpuppy  2017. 1. 19. AM 9-44.zip](https://github.com/OneSignal/OneSignal-Unity-SDK/files/715529/plzpuppy.2017.1.19.AM.9-44.zip)

[2017-01-19 02:59] jkasten2 commented on #30
@appetizermonster Thanks! The issue is due to `SKProductsRequest` not being cleanup on de-allocation. Added clean up for this and prevented a 2nd instance of the IAP tracking class which will prevent any other possible race conditions.

Since you have a test device in this state already can you confirm that this build fixes the issue?
https://www.dropbox.com/s/ym7q4bknws2vqn2/libOneSignal(2.3.6-IA

[2017-01-19 22:00] jkasten2 commented on #25
@frbodya Most commonly this happens when a Google Project number is removed from the app but isn't entered on the App Settings page on our dashboard. Can you confirm this?

Thanks.

[2017-01-20 07:32] frbodya commented on #25
jkasten2, thanks now works
it's strange that project work before with old sdk and unity.

[2017-01-20 12:32] Kafar commented on #25
@jkasten2 my problem is not solved.
I paste the list of libraries I have i my Unity project actually. They are correct?

![screenshot at gen 20 13-31-53](https://cloud.githubusercontent.com/assets/2155958/22149582/e07ac54e-df14-11e6-9af5-fb8fd07fd2c9.png)

[2017-01-23 07:45] jkasten2 commented on #25
@Kafar All the `play-services` files should be the same version. `play-services-gcm-` should be version 10.0.1 to match the rest. Running Assets > Play Services Resolver > Android Resolver > Resolve Client Jars from the Unity menu should fix this. See the full instructions below.
https://documentation.onesignal.com/docs/troubleshooting-unity

[2017-01-23 07:50] Kafar commented on #25
@jkasten2 I've already done this step but it not change that play-services-gcm to 10.0.1 and I don't understand why...

[2017-01-23 19:56] jkasten2 commented on #25
@Kafar Can you try each of the following? Running `Resolve Client Jars` each time from the menu after each bullet point so we can determine the cause of the issue.
* Delete `play-services-gcm-9.4.0`
* Close Unity, delete the `Assets/PlayServicesResolver` folder from your project, and then import our newest 2.14. SDK.
* Delete all `ProjectSettings/GoogleDependency*.xml` files from your project.

[2017-01-25 09:03] Kafar commented on #25
@jkasten2 I tried the steps but after the second I obtain this exception:

![screenshot at gen 25 10-00-28](https://cloud.githubusercontent.com/assets/2155958/22284014/84200b36-e2e5-11e6-9e69-f48490da1edb.png)

![screenshot at gen 25 09-59-58](https://cloud.githubusercontent.com/assets/2155958/22284018/8b8679dc-e2e5-11e6-8b32-1bd06e7cc20d.png)

[2017-01-25 20:39] sunderplugs11 commented on #24
Was this not fixed? I cant use the OneSignal versions it seems.

[2017-01-26 01:12] jkasten2 commented on #24
@sunderplugs11 In our latest 2.1.4 SDK we corrected the `dll` names to include the version number as Google has noted so this is correct compatibility with other plugins using them. If your coming from an older version for the OneSignal SDK you will most likely still have to delete the `PlayServicesReslover` folder manually and reimport to correct the issue however.

Let us know if you continue to

[2017-01-26 01:17] jkasten2 commented on #25
@Kafar The error your getting now is due to to old of a JDK being used on your system. You will need to update your Unity setting to point to JDK 8. If you don't have it you can download it below.
http://www.oracle.com/technetwork/java/javase/downloads/jdk8-downloads-2133151.html

The .aar files you listed all look correct now.

[2017-01-26 12:04] Kafar commented on #25
@jkasten2 I updated the JDK to 8 version but the exception still the same.

![screenshot at gen 26 12-58-01](https://cloud.githubusercontent.com/assets/2155958/22330714/eb7775b6-e3c7-11e6-9c97-6f9e9d930da8.png)

[2017-01-26 19:28] jkasten2 commented on #25
@Kafar The error is now pointing to multiple Android Support libraries in your project. Can you check to make sure you don't have another `support-v4-*.aar` in another folder?

[2017-01-31 06:05] ilkinulas opened #31 "ANR executing service com.onesignal.SyncService"
Hi
We are using OneSignal Unity SDK version 1.13.2
After upgrading Unity3D from 5.3.4f1 to 5.4.4p2 we have received a lot of "app freezing feedbacks" from our users.

Google Play Developer console crash reports shows a spike in the number of ANRs :
![screen shot 2017-01-31 at 08 52 14](https://cloud.githubusercontent.com/assets/606324/22453876/d8988a40-e78a-11e6-93ee-06de33658b12.png)

We can not

[2017-01-31 07:17] gdeglin commented on #31
Thanks for the detailed report! We're investigating.

[2017-01-31 20:20] jkasten2 commented on #31
@ilkinulas I checked the logs you sent and it seems to be an issue with `HeapTaskDaemon` as it has a `Blocked` status. However it doesn't show the object it is blocked / waiting on.

I searched for OneSignal in the logs but didn't see it. I see it is in your screenshot however. Are there any other logs that include OneSignal?

Could you list all the other plugins and their versions in your Unity p

[2017-02-09 10:23] DutchGuerrillia opened #32 "Google play services Already added files compiling APK"
Hello Support,

I have a problem with duplicate class files when compiling the apk in unity. The last changes I made was updating the OneSignal-Unity package with a newer one and I integrated Google Play Services. I get the following compiling log:

---
[code]
---

When I remove the following files the game compiles, but OneSignal messages won't work anymore :(

C:\Users\maart\Documents\CBT Unity

[2017-02-09 20:02] jkasten2 commented on #32
@DutchGuerrillia The root of the problem is having both version of the Java part of the SDK in your project `OneSignalSDK.jar` (old) and `onesignal-unity.aar` (new) noted by this part of your log.

[code]

I recommend deleting all OneSignal folders and files from your project and re-import it to get a clean install.

[2017-02-10 15:01] DutchGuerrillia commented on #32
@jkasten2 Thanks for the quick reply. I removed everything I could find from OneSignal and reïsntalled the latest version. Now it compiles again, but it's still not working. I receive the following erros:
---
02-10 15:46:38.829: E/OneSignal(11224): Error Getting Google Registration ID
02-10 15:46:38.829: E/OneSignal(11224): java.lang.NullPointerException: Attempt to invoke virtual method 'int java

[2017-02-10 23:51] jkasten2 commented on #32
@DutchGuerrillia Make sure you have entered a Google Project number on the OneSignal dashboard. This is under App Settings > Android > Configuration. This will fix the ` Error Getting Google Registration ID` error.

The `Incorrect player_id format in include_player_ids (not a valid UUID):` error however if very odd.
Can you call `SetLogLevel` before `OneSignal.init` and attache the full logcat as

[2017-02-11 11:16] DutchGuerrillia commented on #32
@jkasten2 I got it working again 👍 I added the google Project number and Application Key. I can't remember I did that before, but maybe it has something to do with the newer version.
The thing about the rong UUID has something to do with my own code. There was not enough time to catch the UUID and I was already trying to work with the UUID.

Many thanks for the support. Keep up the good work.

Che

[2017-02-18 00:37] #32 closed

[2017-02-18 01:43] jkasten2 opened #33 "Investigate - iOS - Possible Fatal app ID invalid error on cold start"
On cold start an error that the `"app id format"` is invalid may show in the Xcode log. Even though it is correct the app's code. Report of this happening on the latest 2.1.4 SDK.

[2017-03-01 09:54] demirersin commented on #31
Sometimes game is freeze after crash with that error
ANR Executing service com.****.***/com.onesignal.SyncService . I can not reproduce it.

Unity v. : 5.5.0f3
Onesignal : 2.1.4
[anr_report.txt](https://github.com/OneSignal/OneSignal-Unity-SDK/files/810270/anr_report.txt)

Platform : Android (Unity)

[2017-03-01 15:54] yamanyar commented on #30
We had the same problem and the libOneSignal.a file you provided fixed the issue.

We were using OneSignal 2.1.4

The error we had was:
[code]

[2017-03-02 14:06] n-zakharchenko commented on #27
I have this issue on my iPad running iOs 10.2.1 and don't understand how to fix it

[2017-03-02 19:19] jkasten2 commented on #27
@ualasand @n-zakharchenko
Notifications with iOS 10 attachments or action buttons have some extra requirements. See the [Notifications with action buttons or iOS 10 media not displaying](https://documentation.onesignal.com/docs/troubleshooting-ios#section-notifications-with-action-buttons-or-ios-10-media-not-displaying) section in our troubleshooting guide.

[2017-03-11 16:00] khld85 opened #34 "User ID is changed after Uninstall and Re-Install on Amazon"
Hi,
I am testing OneSignal for Amazon using Unity, but whenever I run the example scene I get the following error:
[code]
Even if Test Push Notification (from inside example app) works
after I uninstall and then re-install the app I cannot target the same devices with the same Id showed in the Test Users Segment in the One Signal Dashboard, its status changed to 'Not Subscribed)'

I am using the l

[2017-03-14 07:42] jkasten2 commented on #34
@khld85 The OneSignal player / user id will change each time the app if fully uninstalled from the FireOS device. This is because FireOS gives out a new registration id (pushToken) for the device when the app is reinstalled and we don't have any other identifiers to know it is the same device.

[2017-03-14 07:42] #34 closed

[2017-03-16 22:12] jkasten2 commented on #30
@appetizermonster @yamanyar This fix is now included in our 2.2.0 Unity SDK release.

[2017-03-16 22:12] #30 closed

[2017-03-16 22:15] jkasten2 commented on #27
@n-zakharchenko We have fixed this issue with iOS Action buttons and Media Attachments causing the notification not be displayed in some cases. Please update to our 2.2.0 SDK following the upgrade notes to make these kinds of notifications just a reliable as standard ones.
https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.2.0

[2017-03-16 22:17] jkasten2 commented on #27
@ualasand If you are still seeing an issue feel free to reopen this thread. Please include if this is just with Android or iOS in your reply.

[2017-03-16 22:17] #27 closed

[2017-03-16 22:18] jkasten2 commented on #18
@asadmehmoodlogicon Can you try our latest 2.2.0 SDK? Feel free to reopen this issue if this doesn't solve the problem for you.

[2017-03-16 22:18] #18 closed

[2017-03-16 22:19] jkasten2 commented on #25
Closing due to inactivity. Please let us if my above suggestion didn't solve your issue.

[2017-03-16 22:19] #25 closed

[2017-03-26 01:13] elijahrender commented on #30
Thank you thank you thank you

[2017-03-29 22:50] aaronhoogstraten opened #35 "Amazon Kindle shows up as Android user in the OneSignal dashboard"
I have a Amazon Kindle Fire HDX 8.9 (KFAPWI, 4.4.3) which has the ADM permissions set and api_key.txt included, but it shows up as a user in the Android platform instead of Amazon Fire. Additionally, it's flagged as not subscribed due to "Outdated Google Play Services App".

Here's my AndroidManifest.xml:
[code]
Thanks!

[2017-03-29 23:03] jkasten2 commented on #35
@aaronhoogstraten You have the `<application>` defined twice which is will create unexpected results. Can you put the tags from the 2nd one into the first one?

[2017-03-30 00:13] aaronhoogstraten commented on #35
@jkasten2 It worked (after remembering to sign my apk oops)!! Thanks for the quick help!

[2017-03-30 00:13] #35 closed

[2017-04-11 17:00] Zubius opened #36 "WP81 runtime unhandled exception"
My app opens browser for authorization and returns to app via protocol. On return I'm gettin exception
and my app crashes.
OneSignal version 2.2.0 Unity version 5.4.2f2
[code]

[2017-04-15 16:33] Amir-LooLoo opened #37 "display type doesn't change"
hi i want to change display type in different scenes and i use this code:
`OneSignal.builder.displayOption = OneSignal.OSInFocusDisplayOption.None;`
but it doesn't work.
how can i change display type after initializing?

[2017-04-19 21:31] jkasten2 commented on #37
@Amir-LooLoo This currently can't be changed after OneSignal is initialized. 2nd and so on calls make to OneSignal init are ignored.

We will look into supporting changes to this setting after init is called.

[2017-04-19 22:08] jkasten2 commented on #31
@ilkinulas @demirersin Just released SDK [version 2.2.1](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.2.1) with the OneSignal Android native SDK 3.4.4. This fixes some issues with the SyncService. Can you try updating to this version?

[2017-04-19 22:10] jkasten2 commented on #24
@ipulcrimx @darwin2k @sunderplugs11 We just updated to the Google jar resolver 1.2.16.0 in our 2.2.1 release. Feel free to reopen this issue if you run into the same problem after updating.

[2017-04-19 22:10] #24 closed

[2017-04-20 14:47] WTF-Grinch opened #38 "No PlayerSettings.applicationIdentifier"
Assets/OneSignal/Editor/OneSignalEditorScript.cs(114,73): error CS0117: `UnityEditor.PlayerSettings' does not contain a definition for `applicationIdentifier'

[2017-04-20 18:38] jkasten2 commented on #38
@WTF-Grinch Thanks for reporting, it seems this was just added in Unity 5.6. We'll correct the preprocessor around this line to support Unity 5.0 - 5.5.

[2017-04-20 18:47] WTF-Grinch commented on #38
did same for myself :) thanks :)

[2017-04-21 02:25] jkasten2 opened #39 "Unity 5.6.0f1 Android Cloud build error"
The following error occurs when trying to build for Android with OneSignal Unity SDK 2.2.0 on Unity Cloud Build 5.6.0.

[code]

The Google Jar Resolver has been updated to version 1.2.16.0 which may have fixed this in the 2.2.1 release of this SDK.

[2017-04-21 03:12] jkasten2 opened #40 "Automatically add Push Capabilities to support iOS Unity Cloud builds"
This improvement will also make local builds simpler.

Will also need to add the `UserNotifications.framework` dependency.

[2017-04-21 03:16] jkasten2 opened #41 "Android 6.0 - SDK 2.2.0 - PromptLocation interferes with registering with Gear VR plugin"

[2017-04-24 07:57] Gwom commented on #40
This may help: https://forum.unity3d.com/threads/how-to-put-ios-entitlements-file-in-a-unity-project.442277/

Though not sure how to add the target, it may help with the entitlements - all in all though, if you include something like this in the setup package, the steps for unity integration on iOS may be reduced.

[2017-05-04 08:30] rossojr92 opened #42 "iOS - Crash on startup"
Hi,

I started working on a project that was built using **OneSignal v1.15.2**.

On Android everything works fine.
On iOS instead, I tried to follow this: https://documentation.onesignal.com/docs/unity-sdk-setup (_points [5.1 - 5.7]: they just add UserNotifications.framework_)

Now, if I launch my application it crashes and the message is: "dyld: image not found".
If I remove UserNotifications.fra

[2017-05-04 18:21] jkasten2 commented on #42
Can you attach the full crash log from the device?

iOS 10 changed most of the notification API to use a whole new set of UNUserNotification classes so their have been a number of internal changes to our SDK. This means we also require `UserNotifications.framework`. Our SDK should be compatible with any Xcode 8 version.

The guide you linked to is our current and only setup guide. Have you tried n

[2017-05-05 09:00] rossojr92 commented on #42
Thank you for the help.

Here's the full crash log:

=============================
{"bug_type":"109","os_version":"iPhone OS 9.3.5 (13G36)","build_version":"2","timestamp":"2017-05-04 15:39:53.53 +0200","app_name":"shootingrangechallenge","bundleID":"com.reludo.shootingrangechallenge","name":"shootingrangechallenge","is_first_party":false,"app_version":"1.0.8.0","share_with_app_devs":false,"slice_

[2017-05-09 01:43] jkasten2 commented on #42
@rossojr92 Thanks, we will look into reproducing this issue. Just to confirm, you updated to the latest 2.2.2 SDK before following the new instructions?

Our SDK shouldn't have an issue with Unity 5.3.1, however can you try the latest Unity version as well?

[2017-05-10 00:30] atraver opened #43 "OneSignal.OSInFocusDisplayOption.None shows in-app alert on iOS"
Here is my builder when initializing OneSignal:
[code]
However, when a push notification is received while my app is open, I still get a native iOS alert that the notification was received. This is counter to your documentation that no alert should be displayed, and isn't something I can ship with (it would annoy my users). How can I get around this issue?

[2017-05-13 02:27] jkasten2 commented on #43
@atraver Can you make sure you are not calling `OneSignal.StartInit` anywhere else in your code?

We also just released our 2.3.0 SDK, can you try updating and using the new property way of setting this?
[code]

[2017-05-13 02:32] jkasten2 commented on #38
Fixed in release 2.2.2

[2017-05-13 02:32] #38 closed

[2017-05-13 02:33] jkasten2 commented on #37
@Amir-LooLoo We just added a new property to the OneSignal class so it can be changed anytime at runtime.
[code]
https://documentation.onesignal.com/docs/unity-sdk#section--infocusdisplaytype-

This is part of the 2.3.0 release.

[2017-05-13 02:33] #37 closed

[2017-05-16 19:19] atraver opened #45 "Android push notifications do not show timestamp"
I noticed that push notifications received on Android do not show timestamps of when they were sent (tested with both Marshmallow and Nougat).

We're sending push notifications using the server REST API to clients using the Unity SDK. I've also noticed that when sending to test devices, the Android preview notification doesn't show the date/time while the iOS preview shows "now." Is there somethin

[2017-05-16 19:26] jkasten2 commented on #45
@atraver Android 7 (Nougat) no longer includes the time stamp by default. The [OneSignal-Android-SDK](https://github.com/OneSignal/OneSignal-Android-SDK) included with this SDK will need to be updated to set this.

[2017-05-16 20:07] atraver commented on #45
Thanks for the quick response. Does the Android SDK included in v2.3.0 of the Unity SDK include timestamp support, or are you saying you'll need to re-package it to add support?

[2017-05-16 20:16] jkasten2 commented on #45
@atraver The native SDK doesn't include this either. By updated I mean it needs to be implement with Java code in that SDK, then this SDK needs to be updated to include the new build.

[2017-05-17 17:54] VusalJalilov commented on #32
Tried multiple times. Followed the troubleshoot: https://documentation.onesignal.com/docs/troubleshooting-unity, but still cannot build in Unity 5.5.0f3.
`CommandInvokationFailure: Unable to convert classes into dex format.
C:/Program Files/Java/jdk1.8.0_131\bin\java.exe -Xmx2048M -Dcom.android.sdkmanager.toolsdir="C:/Android\tools" -Dfile.encoding=UTF8 -jar "C:\Program Files\Unity\Editor\Data\Pla

[2017-05-17 17:58] VusalJalilov opened #46 "Unable to convert classes into dex format"
Tried multiple times. Followed the troubleshoot: https://documentation.onesignal.com/docs/troubleshooting-unity, but still cannot build in Unity 5.5.0f3.
`CommandInvokationFailure: Unable to convert classes into dex format.
C:/Program Files/Java/jdk1.8.0_131\bin\java.exe -Xmx2048M -Dcom.android.sdkmanager.toolsdir="C:/Android\tools" -Dfile.encoding=UTF8 -jar "C:\Program Files\Unity\Editor\Data\Pla

[2017-05-17 22:46] jkasten2 opened #47 "GetPermissionSubscriptionState not wrapped with pre-proc for unsupported platforms"
`GetPermissionSubscriptionState` should provide a mocked instance when running on a non-support platform and the Unity Editor.

[2017-05-18 16:14] VusalJalilov commented on #46
In order to reproduce the error:

1)	Create New Unity Project
2)	Enable Unity Ads
3)	Enable Unity Analytics
4)	Enable Unity IAP (import the SDK)
5)	Import Google Mobile Ads Unity Plugin v3.4.0 SDK
6)	Import play-games-plugin-for-unity v0.9.38a SDK
7)	Import Facebook SDK for Unity v7.9.4
8)	Import OneSignal SDK
9)	Build the apk.

[2017-05-25 23:30] atraver commented on #45
Thanks for the clarity. Is this something you're looking into adding to the Android and Unity SDKs?

[2017-05-25 23:34] jkasten2 commented on #45
@atraver I have opened https://github.com/OneSignal/OneSignal-Android-SDK/issues/236 to track this

[2017-05-31 08:22] imranbaig1977 commented on #31
"main" prio=5 tid=1 Blocked
  | group="main" sCount=1 dsCount=0 obj=0x75326250 self=0x7f9d7d4a00
  | sysTid=1027 nice=0 cgrp=default sched=0/0 handle=0x7f9da47a98
  | state=S schedstat=( 0 0 0 ) utm=29 stm=10 core=4 HZ=100
  | stack=0x7fc3206000-0x7fc3208000 stackSize=8MB
  | held mutexes=
  at com.onesignal.LocationGMS.fireComplete (LocationGMS.java:208)
- waiting to lock <0x0ea5ef4d> (a java.lan

[2017-06-06 07:19] kaninhot004 opened #48 "Still got infocus Notification after set OneSignal.OSInFocusDisplayOption.None;"
# OneSignal v.2.3.0

[code]

Thank you a lot!

[2017-06-07 17:31] ikbalnamli opened #49 "Can't remove badge permissions"
I would like to remove badge permissions that are added to my manifest by OneSignal. When I add
 \<uses-permission android:name="com.sec.android.provider.badge.permission.READ" tools:node="remove" />
\<uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" tools:node="remove" />
etc..

these to my manifest file, Unity gives exception saying that manifest files couldn't be m

[2017-06-07 18:56] jkasten2 commented on #49
@ikbalnamli Unfortunately Unity doesn't support the `tools:node` attribute. To remove these you will need to extract `Assets/OneSignal/Platforms/Android/onesignal-unity.aar` and remove the entries from the `AndroidManifest.xml` within it. A `.arr` is just a zip so you can use any zip utility to extract it and recreate it.

[2017-06-07 18:56] #49 closed

[2017-06-08 01:29] jkasten2 commented on #46
@VusalJalilov Thanks for the full log and reproduction steps. The following file will need to be deleted from your Unity project to fix the error you are getting.
`FacebookSDK/plugins/android/libs/customtabs-23.4.0.aar`

After this due to the number of Java methods in all these plugins you may see a `Too many field references to fit in one dex file` error.
![image](https://user-images.githubuserco

[2017-06-08 01:43] #47 closed

[2017-06-08 01:47] jkasten2 commented on #48
@kaninhot004 Is your `SetNotification` being called after `OneSignal.EndInit`? Also note you must set `OneSignal.inFocusDisplayType` each time your app is started otherwise it defaults to alert.

[2017-06-08 02:24] #45 closed

[2017-06-08 02:25] jkasten2 commented on #31
@ilkinulas @demirersin @imranbaig1977 We have fixed the ANR issue in the 3.3.1 release.

[2017-06-08 02:25] #31 closed

[2017-06-08 05:24] kaninhot004 commented on #48
I will try it. Thanks for reply sir!

[2017-06-08 18:35] VusalJalilov commented on #46
I have solved the issue by also deleting:
FacebookSDK/plugins/android/libs/support-vector-drawable-23.4.0.aar
FacebookSDK/plugins/android/libs/animated-vector-drawable-23.4.0.aar

[2017-06-08 21:01] jkasten2 commented on #46
@VusalJalilov OneSignal shouldn't have any overlap with these libraries. Could share the exact error you were getting when you have those 2 files in your project?

[2017-06-09 03:18] VusalJalilov commented on #46
To make things clear.
I could successfully build my app without OneSignal SDK and with the below files in my Unity Project Assets folder:
FacebookSDK/plugins/android/libs/customtabs-23.4.0.aar
FacebookSDK/plugins/android/libs/support-vector-drawable-23.4.0.aar
FacebookSDK/plugins/android/libs/animated-vector-drawable-23.4.0.aar

Then I imported OneSignal SDK and removed only the customtabs-23.4.0.

[2017-06-09 04:22] jkasten2 commented on #46
@VusalJalilov Great, thanks for all the details! Looks like removing those 2 .aar files was just enough for your APK to get under the 65K dex limit.

I recommend testing the facebook features in your app however just in case those Java classes are used by the options your using.

[2017-06-09 04:22] #46 closed

[2017-06-09 20:17] atraver opened #50 "Unity editor exception when calling IdsAvailable"
With the latest OneSignal version, it seems as though there's an exception getting thrown in the Unity editor when calling `OneSignal.IdsAvailable(delegate)`. The exception occurs on line 436 of OneSignal.cs, presumably because the `oneSignalPlatform` member has never been initialized. In fact, the `initOneSignalPlatform` method is only called if you're not running in the editor -- the `initUnityE

[2017-06-12 15:01] Josk commented on #50
Same thing here, it's weird that this made its way to production.
Easy to fix by not calling StartInit in Editor mode, but it decreases code visibility and discoverability.

[2017-06-12 20:12] ENiGMA9 opened #51 "NullReferences Exceptions with latest version"
Hello, this has been tested in a new project, clean environment:

Latest Android SDK
New Unity Project (Unity 5.6f, latest public release)
Import OneSignal
Open ExampleScene
Resolve android jars
Run (In Editor) ->

I did not set up an ID because in the original environment I had a valid id with the same problem. Ideas? I am not very experienced in Unity either so it may not really be from the plug

[2017-06-13 03:01] jkasten2 commented on #51
@ENiGMA9 Can you confirm you are using [2.3.1](https://github.com/OneSignal/OneSignal-Unity-SDK/releases)? This error was just fixed in the latest version that released last week.

[2017-06-13 09:14] ENiGMA9 commented on #51
@jkasten2 yes, I confirm. I just tried again after a unity clean install (I had 2 versions), updating android SDK , same thing. Tell me how can I help you track down this problem.

[2017-06-14 10:02] ENiGMA9 commented on #51
@jkasten2 just tested it in dev-production environment. It works so I guess it's not a critical issue. Here, I didn't have the call to Subscribe function so this was not my problem, but I had  RegisterForPushNotif. I wrapped it in IOS preprocessor because if I'm understanding right that's just for IOS (plus, I tested it like this and I receive notifications).

`#if UNITY_IOS
        OneSignal.Regi

[2017-06-17 01:18] jkasten2 commented on #51
@ENiGMA9 Just released version 2.3.2 that fixes this issue.

[2017-06-17 01:18] #51 closed

[2017-06-17 01:35] jkasten2 commented on #50
@atraver @Josk Thanks for reporting! This is now fixed in the 2.3.2 release.

[2017-06-17 01:35] #50 closed

[2017-06-19 06:55] johnkslg opened #52 "Conflict with Facebook plugin?"
My project runs fine with just the FB android plugin, but adding OneSignal breaks it as follows:

CommandInvokationFailure: Unable to convert classes into dex format.
C:/Program Files (x86)/Java/jdk1.8.0_131\bin\java.exe -Xmx1024M -Dcom.android.sdkmanager.toolsdir="C:/Android/sdk\tools" -Dfile.encoding=UTF8 -jar "C:\Program Files\Unity\Editor\Data\PlaybackEngines\AndroidPlayer/Tools\sdktools.jar"

[2017-06-19 07:06] johnkslg commented on #52
I was able to solve it by deleting even more modules.  This is the complete list of facebook plugin modules I had to remove to make it work:

support-v4-23.4.0
support-vector-drawable-23.4.0
support-annotations-23.4.0
customtabs-23.4.0
animated-vector-drawable-23.4.0

Would be great to have this in the troubleshooting guide!  Was a huge pain to figure out.

[2017-06-19 15:13] cupidi opened #53 "OneSignal.cs compile error on iOS."
In version 2.3.2 there is a compile error on iOS platform.

<img width="1552" alt="screen shot 2017-06-19 at 17 01 45" src="https://user-images.githubusercontent.com/4160340/27291795-93989bca-5511-11e7-9b41-3c80ab04745e.png">

Version 2.3.1 has the following code which is missing in 2.3.2.
[code]

[2017-06-19 19:14] jkasten2 commented on #53
@cupidi Thanks for reporting. I just fixed this with a 2.3.3 release.

[2017-06-19 19:14] #53 closed

[2017-06-19 19:34] jkasten2 commented on #52
@johnkslg The Facebook compatibility issue is noted in our [Unity troubleshooting documentation](https://documentation.onesignal.com/docs/troubleshooting-unity#section-build-error-with-facebook-sdk) and is noted in our setup guide as well. We were missing `support-vector-drawable-23.4.0` and `animated-vector-drawable-23.4.0` in our list and have added them to this page.

The Facebook SDK is know t

[2017-06-19 19:34] #52 closed

[2017-06-20 05:51] Arodus commented on #40
There is an updated version of the xCode Api available at: https://bitbucket.org/Unity-Technologies/xcodeapi . Maybe the updated version is already bundled with newer versions of unity but im not sure about that.

The new version contains ProjectCapabilityManager which gives you the ability to easily modify the capabilities:

 `   private static void OneSignalPostBuild(BuildTarget target, string b

[2017-06-24 22:00] johnkslg commented on #52
Nice, thank you!

[2017-06-27 21:22] wisslRomaric opened #54 "App doesn't start on iOS 10 with Firebase - One Signal"
The lock happen on iOS with this configuration
- Unity 5.6.1f1
- Firebase Unity SDK 4.0.1
- OneSignal Unity SDK 2.3.3

I used Firebase for authentication.
When I remove One Signal SDK, my app start well. When I used both Firebase and One Signal the app lock on startup.

I find a discuss about the same issue there
https://groups.google.com/forum/#!topic/firebase-talk/cB8zBW0Lu6g

I've tested iOS an

[2017-06-28 00:16] jkasten2 commented on #54
@wisslRomaric Thanks for reporting the issue. I have added a reply to the google group thread.

Can you try pausing your app from XCode when it freezes on startup and attach the full stack trace? Or is it crashing for you?

[2017-06-28 08:24] wisslRomaric commented on #54
Thanks Josh
I confirm this issue happen with the quickstart Firebase sample and Onesignal.
I've no crash log on startup and the Unity splash screen doesn't appear.

The app lock on this log from Firebase
<Error> [Firebase/Core][I-COR000003] The default Firebase app has not yet been configured. Add `[FIRApp configure];` (`FirebaseApp.configure()` in Swift) to your application initialization. Read m

[2017-06-29 03:38] erebar commented on #54
Hi, I'm having the same problem with onesignal 2.2.2 and firebase. In my case I used the analytics sample from firebase and added onesignal to it (Unity 5.6.1f1). The app gets stuck on the loading screen, showing no errors, it just doesn't get past it.

[2017-06-29 04:03] erebar commented on #54
I just did another test using the firebase analytics sample with:

    Unity 5.6.1f1
    Firebase Unity SDK 4.0.1
    OneSignal Unity SDK 2.3.3

The app hangs at the splash screen but it doesn't crash, it just stays there forever.

[2017-07-08 09:12] semeno commented on #54
Hi,
I just tried with the latest Firebase v4.0.2 + Unity 5.6.1f1 + OneSignal Unity SDK 2.3.3.
And same issue...
Thanks in advance for your help!

[2017-07-10 11:52] bigmack11011 opened #55 "Android 4.4 crash"
Application crashes on kit-kat when receiving push

`07-10 12:09:37.264 6162-6885/com.kobro.kobro E/AndroidRuntime: FATAL EXCEPTION: IntentService[GcmIntentService]
                                                               Process: com.kobro.kobro, PID: 6162
                                                               java.lang.Error: FATAL EXCEPTION [IntentService[GcmIntentService]]

[2017-07-11 00:18] jkasten2 commented on #55
@bigmack11011 The crash seems to be triggered by another plugin `com.androidnative`. Did the crash happen when sending a notification from OneSignal or through another system?

If this crash happened when sending a notification from OneSignal make sure you are using the latest OneSignal 2.3.3 SDK in your app.
https://github.com/OneSignal/OneSignal-Unity-SDK/releases
We attempt to prevent the OneSi

[2017-07-11 13:50] DrackiGames opened #56 "iOS - [OneSignal getPermissionSubscriptionState] OSNotificationPermission enum discreprancy"
The function [OneSignal getPermissionSubscription] (believe the definition of it is in the libOneSignal.a) when returning permissionStatus.status (using OSNotificationPermission enum) uses for authorized:

[code]

Whereas in the Unity OneSignal.cs:
[code]

I've had to interpret the results given back differently in OneSignalIOS.cs via parseOSPermissionState(object). This can even become a problem

[2017-07-15 20:53] amjaliks opened #57 "OverflowException on Android 4.x & 5.x"
When the game receives a notification with an emoji `OverflowException` is thrown. The game doesn't crash, but this exception is reported to Unity Performance Reporting service.

[code]

Affected SDK versions: 2.2.x, 2.3.x including 2.3.3.
Android versions: 4.x and 5.x – there are no reports from 6.x or newer.

[2017-07-25 14:47] paulmriordan opened #58 "Crash when opening notification while app is running on Android"
[onesignal_crash_logcat.txt](https://github.com/OneSignal/OneSignal-Unity-SDK/files/1174213/onesignal_crash_logcat.txt)
Android 4.4.2 LG G2, OneSignal-Unity-SDK-2.3.3, Unity 5.6.2f1

The app is running, I click on the notification by dragging down the notifications window, the app relaunches, and this relaunch crashes.

I'm sending a reward via the notification. Because of the crash, reward is nev

[2017-07-25 21:38] jkasten2 commented on #58
@paulmriordan I see the notification is opened around `08-01 18:07:08.90` on line 1495 but the crash doesn't happen until `08-01 18:07:17.893` on line 2095 about 10 seconds later.

Do you have any code in the OneSignal [NotificationOpened](https://documentation.onesignal.com/docs/unity-sdk#section--notificationopened-) that could be causing the crash? Are you running any other plugins that could b

[2017-07-26 19:21] paulmriordan commented on #58
I have code in HandleNotificationOpened for processing rewards. It exits this function without crashing.

As a test, I completely removed my HandleNotificationOpened code for a build; issue still persists (app crashes, attempts relaunch, relaunch crashes)

When app is in background => it relaunches my app, and my HandleNotificationOpened code doesn't get called.
When the app is completely closed =

[2017-07-26 20:28] paulmriordan commented on #58
Looking into it more, I think the issue is related to having kii sdk integrated for backend services.

I tried a test build with just onesignal,  and another with onesignal and kii, and only the latter exhibits the issue.

Kii offer push notifications too (which I don't use), so it may be interfering. I'm trying to modify the kii manifest requirements, but not having much luck. Is there anything i

[2017-07-27 08:45] lulzbane commented on #40
We have version 2.1.4 of the unity plugin installed and it works fine with cloud build, but the actual push notifications from that version only work for ios 9 and below, when upgrading to 2.3.3 the ios cloud builds stopped working and so I've reverted to 2.1.4 for now but we do want to get ios 10 push notifications working so looking forward to this fix. Just thought I would mention this because

[2017-07-27 20:07] paulmriordan commented on #58
Also, I'm getting this output in the log once I click on the notification:

Scheduling restart of crashed service com.[company].[app]/com.onesignal.SyncService in 1000ms

[2017-07-27 20:19] jkasten2 commented on #58
@paulmriordan When opening a notification it should always resume that app instead of relaunching it every time. This side effect is most likely casing the crash as it is creating extra instances of code that might not be able to handle it correctly.

It seems the Kii plugin adds a `UnityPlayerProxyActivity` manifest entry that is creating the issue. I recommend replacing all `android:launchMode="

[2017-07-27 20:49] paulmriordan commented on #58
I still get a crash on relaunch. From looking at the logs, it's now a segmentation fault. (I also only now get the  "Unfortunately, ______  has stopped" popup.)

logcat:

I/DEBUG   (  279): *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
I/DEBUG   (  279): Build fingerprint: 'lge/g2_open_com/g2:4.4.2/KOT49I.D80220c/D80220c.1400592244:user/release-keys'
I/DEBUG   (  279): Revision:

[2017-07-27 21:14] jkasten2 commented on #58
@paulmriordan Can you try removing the Kii plugin but leave all the `<activity>` tag entries in your `AndroidManifest.xml`? This will determine if the issue is related to the plugin's code or it's configuration on your project.

[2017-07-28 11:28] paulmriordan commented on #58
I have discovered what was causing the problem.

I was using deprecated UnityPlayerProxyActivity & UnityPlayerNativeActivity in my manifest (I first started the project for Unity 4). I have removed these and now use UnityPlayerActivity, and the issue is fixed.

Before:
[code]

After:
[code]

Kii can be left as is. That was a bit of red herring. I didn't notice I was using UnityPlayerProxyActivity

[2017-07-28 11:28] #58 closed

[2017-07-31 10:48] Thaina opened #59 "How to send silent push between user?"
I use onesignal unity SDK to implement user messaging in my game. I want user able to send message between each other just when they are both active so I think I would use silent push

But it seem onesignal unity SDK cannot send silent push. When one user close the app it send notification to another user. I don't want that so how to avoid it?

[2017-07-31 23:10] jkasten2 commented on #59
Normally push notifications are used to notify the user when they are outside your app. Instead of trying to suppress the visual notification I recommend sending one only when you think the user is available. Do you track when the user is online in your game? Or the last time they opened the app?

You can use the `last_session` field on `filters` to target the user if say they opened your app in t

[2017-08-01 06:23] Thaina opened #60 "Was the unity sdk update on_session?"
By the document I has seen [Increment session length](https://documentation.onesignal.com/reference#increment-session-length ) api. And it seem it was used to update session time of client (which in turn relate to last_session attribute of that user)

But I have not seen the same api in unity sdk. Does unity sdk always ping in background?

[2017-08-01 18:12] jkasten2 commented on #60
@Thaina It is handled with native code in this SDK automatically. The session count is incremented when the user closes / backgrounds your app then comes back to it later.

[2017-08-01 18:12] #60 closed

[2017-08-01 18:24] stewartmiles commented on #54
Hi everyone, thanks for your patience.

We have resolved this issue in our 4.0.3 https://firebase.google.com/support/release-notes/unity .

Cheers,
Stewart

[2017-08-01 18:27] jkasten2 commented on #54
Thanks for fixing and following up @stewartmiles!

[2017-08-01 18:27] #54 closed

[2017-08-02 01:48] Thaina commented on #60
@jkasten2 Well I think that's problem. When user was open the app for a long times they don't get that ping and their session don't get updated

I think `on_session` does not increase session count. It just ping the server and increase session duration. So it need to call eventually for every 1 or 5 minute

Could you add that timer or to add this ping API?

[2017-08-02 01:54] jkasten2 commented on #60
@Thaina "Increment session length" (the `on_focus` endpoint) gets called when the app is put into the background or the device's screen is turned off. This send a update to increase the active time for the device.

"New session" (the `on_session` endpoint) gets called when the app is start or resumed. This increases the session count.

If the device is having connection issues during these events

[2017-08-02 02:03] Thaina commented on #60
@jkasten2 Sorry I was actually mean `on_focus`

The problem I said is it only update when app put in background. But if the app was opened continuous it would not get update at all. Think about idle game that did nothing but need to open the screen and clicking sometimes. User session actually continuous for hours

So I think it should be ping `on_focus` eventually, not only when user put app in b

[2017-08-02 03:55] Thaina commented on #59
I try to used your suggestion but still got some issue in #60 but this issue considered solved. Thanks

[2017-08-02 03:55] #59 closed

[2017-08-03 18:55] jkasten2 commented on #60
You could call the `on_focus` end point from your game to update the `last_active` time. I would call the endpoint no more than every 15 minutes and sending a the required field `active_time` to `1` so It don't throw off the total time the user spent in your app.

The above should only apply to users with long session times and need to target users with push who are active within an hour. This isn

[2017-08-04 01:36] Thaina commented on #60
@jkasten2 Thanks for your recommendation. But because of stateless nature of my current server code. I can't control the time user would call the endpoint. So I end up calling it every 30 second

If it 15 minute you recommend then please put 15 minute timer in client. Because the SDK will be calling endpoint as well. This will also avoid the problem of app crash and don't send session timer too

[2017-08-07 10:08] bigmack11011 commented on #55
@jkasten2 No, we don't use any other plugins, connected with GCM/FCM, but we've been using Amazon SNS. We've removed it from our project in favor of OneSignal. Triple checked - no files of Amazon SNS and no fields in manifest left in project

[2017-08-07 10:10] bigmack11011 commented on #55
@jkasten2 Ah, excuse me. We use Ultimate Mobile by Stans's Assets. https://www.assetstore.unity3d.com/en/#!/content/20152

[2017-08-07 20:08] jkasten2 commented on #60
@Thaina Your use case is sending user to user notifications for invites to a match when they the other user is in your game correct? This is something that would normally be done by your server by directly targeting users by the OneSignal `player_id` or a user tag you have already set. Since users will have an active connection to your server you will know if the target user is currently in the ga

[2017-08-08 01:18] Thaina commented on #60
Not that. The current use case I use onesignal is to broadcast text message to all active users

[2017-08-30 23:07] AnilKyurt opened #61 "User ID is changed after Uninstall and Reinstall on IOS."
Hi,
User ID is changed after Uninstall and Reinstall on IOS. What should I do to make id not change?

Thank you.

[2017-08-31 14:31] Russel1 opened #62 "java.lang.ClassNotFoundException: android.support.v4.view.MenuCompat"
I get this error log:
[code]
But I added "support-v4-25.3.1" to my project. What is here the problem?
I build with newest OneSignal version and per gradle BuildSystem.

Best regards,
Oli

[2017-09-02 21:03] amjaliks opened #63 "Add an option to override a user's language"
Our game (and a lof of other apps and games) allows to set UI language different from a system-wide language.

It would be useful to have an (init?) option to override a user's language reported to OneSignal.

[2017-09-20 07:16] Thaina opened #64 "Got double message when send silent notification"
I use onesignal notification to send realtime chat. Normally it could send silent push message for my app to handle correctly. But lately I got double message and one empty notification in android (not in iOS)

It seem like it call my handle function 2 times from these lines

[code]

[code]

This is the full log from android when the client receiving notification

[code]

It seem like this problem

[2017-09-20 07:36] Thaina commented on #64
Suspect problem from android sdk

https://github.com/OneSignal/OneSignal-Android-SDK/commit/75e7c333bf4d3908ba6cc0381fc7e44ab157ea9a#commitcomment-24425047

[2017-09-20 14:12] platinio opened #65 "Problem FB SDK"
Hi i am building using Unity 5.6.3f1 for android, using fb SDK and OneSignal and i get this error

CommandInvokationFailure: Gradle build failed.
C:\Program Files\Java\jdk1.8.0_91\bin\java.exe -classpath "D:\Program Files\Unity 5.6.3f1\Editor\Data\PlaybackEngines\AndroidPlayer\Tools\gradle\lib\gradle-launcher-2.14.jar" org.gradle.launcher.GradleMain "assembleDebug"

stderr[
D:\Repos\words_with_wha

[2017-09-20 19:03] jkasten2 commented on #64
@Thaina Sorry for this issue, the issue was introduced in 2.4.0 of this SDK. This version is using version 3.6.0 of the OneSignal native SDK, will be updating to version 3.6.2 which resolves this issue in the next update.

[2017-09-21 03:55] Thaina commented on #64
@jkasten2 Thank you but then when we could get this fix?

[2017-09-26 03:24] twomedia opened #66 "Fatal Exception: java.lang.NullPointerException"
I have a crash that's effecting a large number of users (1700) relating to One Signal. The stack trace is bellow. Let me know if you need more details.

[code]

[2017-09-26 03:44] twomedia commented on #66
I believe this has been fixed in the latest release of the Android SDK. I've updated so hopefully I'll see a reduction in the crash reports.

[2017-09-26 03:44] #66 closed

[2017-09-26 23:35] Alamgir commented on #57
@amjaliks is this issue occurring with any emoji that you send in a notification? Can you paste which emojis you're using?

[2017-09-27 00:19] Alamgir commented on #62
@Russel1 Have you taken a look at our Unity Troubleshooting guide: https://documentation.onesignal.com/docs/troubleshooting-unity

Let us know if you're unable to resolve the support dependencies.

[2017-09-27 00:41] Alamgir commented on #65
@platinio Have you tried using Google's Play Services resolver plugin to try and resolve the JAR dependencies?

https://documentation.onesignal.com/docs/troubleshooting-unity#section-build-error-with-facebook-sdk

[2017-09-27 03:28] amjaliks commented on #57
I'm not sure if this exception is caused by any emoji. But the that causes is 🎁.

[2017-09-27 22:45] Alamgir commented on #57
@amjaliks It seems like the 🎁 emoji isn't causing the issue. I'm not able to reproduce the issue. Could you give us more info on what text you are populating inside your notification?

[2017-09-28 14:08] atorgfr commented on #33
Same here

[2017-10-01 21:30] amjaliks commented on #57
Trying to open a notification with 🗺 in message causes exception on my Nexus 4 with Android 5.1.1.
It seems this emoji isn't supported by older Androids as it appears as crossed box.

[2017-10-04 00:36] Alamgir commented on #57
@amjaliks I'm able to reproduce the unavailable map emoji 🗺 on Android 5.0.2, but am not able to see the Unity log entry stating an `OverflowException` is occurring upon tapping the notif. Where are you able to see those logs? Are they in logcat?

[2017-10-04 15:11] eduardocoelho commented on #33
Same here:

Xcode console output:
[code]

I double checked the app id used inside my C# (Unity) code, and it's correct, without extra quotes, etc.

[2017-10-07 02:47] jkasten2 commented on #64
@Thaina We just released SDK 2.4.1 which includes a the updated native SDK the fixes the root of this issue.
https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.4.1

[2017-10-07 02:47] #64 closed

[2017-10-07 02:49] jkasten2 commented on #61
@AnilKyurt Since the iOS pushToken changes check time the app is uninstalled then reinstalled OneSignal won't know it is the same device.

If app is simply updated the OneSignal userId will always stay the same.

[2017-10-07 02:49] #61 closed

[2017-10-07 02:51] jkasten2 commented on #39
Closing as there hasn't been any other reports of this error.

[2017-10-07 02:51] #39 closed

[2017-10-07 14:11] amjaliks commented on #57
Yes, these exceptions are logged to logcat.
I receive reports in Unity Performance Reporting service too.

[2017-10-07 14:23] amjaliks opened #67 "Make Android permission RECEIVE_BOOT_COMPLETED optional"
Move `RECEIVE_BOOT_COMPLETED` from AAR to `AndroidManifestTemplate.xml`.

We get negative reviews because of this permission.

[2017-10-11 22:59] Alamgir commented on #55
@bigmack11011 have you tried removing the manifest-declared `GcmIntentService` that is included with the Stan's Assets Unity plugin?

Reading their documentation here: https://unionassets.com/android-native-plugin/apis-and-requirements-192#push-notifications-api
it appears that the docs tell you to add a receiver for the `com.google.android.c2dm.intent.RECEIVE` intent - try omitting this receiver

[2017-10-12 09:48] bigmack11011 commented on #55
@Alamgir Oh god, yes, it helped, thank you!

[2017-10-12 09:48] #55 closed

[2017-10-14 03:48] platinio commented on #65
yes solve thanks

[2017-10-14 03:48] #65 closed

[2017-10-14 03:53] platinio opened #68 "Error: more than one library with package name 'com.google.android.gms'"
Hi guys i am facing a new error, but is really strange OneSignal was working fine, but after a time working on the game i try put aigan notifications to work, but the game closes, stop working and i am really sure that the problem is OneSignal because is i disable the object what holds the code the game run fine.

So i try hit aigan resolve clients jars and build aigan and i get this error:
Comman

[2017-10-16 17:15] gurraunaqsingh opened #69 "How to get playerID in Android?"

[2017-10-16 18:17] #69 closed

[2017-10-16 18:17] gurraunaqsingh commented on #69
Solved it : OneSignal.GetPermissionSubscriptionState ().subscriptionStatus.userId

[2017-10-17 14:49] pablogatz opened #70 "ClearOneSignalNotifications() is not working"
Hi guys,

I've been struggling with an issue for the last couple of weeks, which I believe might be a bug.
I am currently working on a Unity game that has time-management components (I'm deploying on Android).

At some point the game schedules a notification to alert the user that it's time to come back and perform some actions. The code I am using for this (after a successful initialization) is:

[2017-10-19 18:02] 3d03 opened #71 "Can't build after import to my project. Dex classes limit"
Can you publish "Lite" version of SDK with basic functionality?
Now i can't build Android APK due to DEX classes limitation.  Or Maybe you can publish project example with Gradle build system?

[2017-10-23 13:42] polfernandez commented on #33
same here

[2017-10-23 16:37] lukson666 opened #72 "Apple Mach-O linker id error"
Hello,

I am trying to use OneSignal SDK with Unity version 2017.2 and newest Xcode 9. After I export my project from Unity to Xcode and trying to build it to iPhone, I get the following 3 errors:
<img width="855" alt="screen shot 2017-10-23 at 18 32 32" src="https://user-images.githubusercontent.com/33034712/31901260-366f9e94-b821-11e7-9a09-dfc4e0c23cd3.png">
Any ideas ?

Regards, L

[2017-10-23 19:13] jkasten2 commented on #33
Updating to SDK version 2.4.1 should fix this error message.
https://github.com/OneSignal/OneSignal-Unity-SDK/releases

[2017-10-23 19:14] #33 closed

[2017-10-26 15:47] timr-github opened #73 "Incorrect assignment of permissionStateChanges.from?"
Looks like the "from" permission state may be assigned to the incorrect variable in OneSignalPlatformHelpers.cs line 47:

`permissionStateChanges.to = platform.parseOSPermissionState(stateChangesJson["to"]);
permissionStateChanges.to = platform.parseOSPermissionState(stateChangesJson["from"]);`

[2017-10-30 19:44] advantage-software commented on #72
I'm seeing the same issue

[2017-10-30 20:08] jkasten2 commented on #72
@lukson666 @advantage-software You need to add the `UserNotifications.framework` to the Xcode project. See steps 5.5. through 5.7 below.
https://documentation.onesignal.com/docs/unity-sdk-setup#section-5-ios-setup-part-1

[2017-11-06 09:26] tonywya opened #74 "When I killed app, can I recieve the notification?"
Hi,

Is there any way to receive notification when the application is force killed?

Thanks.

[2017-11-06 22:19] jkasten2 commented on #74
@tonywya The following troubleshooting guide covers all the cases where a notification may not show.
https://documentation.onesignal.com/docs/notifications-show-successful-but-are-not-being-shown

Please provide more details about about which platforms, versions, and logs if the above does not solve your issue.

Thanks.

[2017-11-07 19:45] amjaliks commented on #57
Have updated SDK to 2.4.1. This issue is still here.

[2017-11-09 16:25] artemgarmash commented on #70
Same issue, it doesn't work. On iOS & Android.

[2017-11-14 10:00] BenoitFreslon commented on #33
Same issue with version 2.4.1
Xcode: Version 9.0.1 (9A1004)
Unity 2017.2.0.3f

2017-11-14 10:59:20.501 projectname[1386:453537] FATAL: OneSignal AppId format is invalid.

[2017-11-16 02:29] tonywya commented on #74
Hi,

My test device is Huawei Honor6, Emui3.1, Android5.1.1.
When I kill the app, then send the notification, the adb log is like this:

W/GCM-DMM ( 6345): broadcast intent callback: result=CANCELLED forIntent { act=com.google.android.c2dm.intent.RECEIVE pkg=com.myPackageName.google (has extras) }

It seems that the service is shutted down, is there any way to restart the service again?

Thanks.

[2017-11-16 07:21] jkasten2 commented on #74
@tonywya Since the device force killed your app most intents such as a push won't be able to start your app again until the user opens your app again. On most Android devices swiping a way the app does not put it in to a force closed / force killed state. However Huawei devices before EMUI4.1 are one of the devices know to do this.

See this OneSignal's blog post on a list of devices that do this

[2017-11-16 07:21] #74 closed

[2017-11-16 07:43] tonywya commented on #74
thanks @jkasten2 , but i mean manually kill the app not automatically killing background apps

[2017-11-22 11:26] emilpedersen commented on #43
I have the same issue, but its only if the notification is received on the "Made with Unity" splash screen. When my first scene is loaded also here I call

`OneSignal.StartInit("d9d32c1c-ed42-4f74-9055-8aedeeac55aa")
                 .HandleNotificationOpened(HandleNotificationOpened)
                 .HandleNotificationReceived(HandleNotificationReceived)
                 .InFocusDisplaying(OneSi

[2017-11-28 13:59] DimHoly opened #75 "Conflict of OneSignal 2.4.1 with Google Play Games Plugin 0.9.42"
Hello everybody.

I am trying to integrate OneSignal 2.4.1 SDK in my project that implements the Google Play Game Services (version 0.9.42)

Using only the Google Play Games plugin i can normally login to the services in my android game. When i integrate OneSignal it crashes when i try to login.

Keep in mind that when i import OneSignal SDK i get the following Warning message in Unity console:

I

[2017-12-09 00:56] Zorcher commented on #75
Able to reproduce.

Specific error message I am getting:

W/dalvikvm( 6213): threadid=1: thread exiting with uncaught exception (group=0x40e33ae0)
E/AndroidRuntime( 6213): FATAL EXCEPTION: main
E/AndroidRuntime( 6213): java.lang.Error: FATAL EXCEPTION [main]
E/AndroidRuntime( 6213): Caused by: java.lang.NoClassDefFoundError: android.arch.core.internal.FastSafeIterableMap

[2017-12-20 00:11] #73 closed

[2017-12-20 00:11] jkasten2 commented on #73
@timr-github Thanks for reporting. Fixed in the commit above. This will be included in the next SDK release.

[2017-12-20 00:16] jkasten2 commented on #72
Feel free to reopen if the above did not solve your issue.

[2017-12-20 00:16] #72 closed

[2017-12-21 10:00] sharklab commented on #40
any news about this?

[2017-12-21 23:45] jkasten2 commented on #56
@DrackiGames You're correct, I have fixed this in the 2.5.0 version of this SDK that we just released.

Thanks.

[2017-12-21 23:45] #56 closed

[2017-12-31 10:32] Darkdevil79 commented on #75
Any news on a fix

[2018-01-12 21:04] Slogunn opened #76 "Unable to merge android manifests."
Showing error as Unable to merge android manifests.
[code]

Please fix the issue or is there any solution to fix this issue

[2018-01-13 00:09] jkasten2 commented on #76
@Slogunn Can you sure your `config.xml` and list all your plugins with `cordova plugin list` so we can look into producing this error?

[2018-01-13 00:11] jkasten2 commented on #76
@Slogunn Can you set your Android target SDK version in the Android Build settings to API level 26?

[2018-01-13 02:52] jkasten2 commented on #68
@platinio The `Error: more than one library with package name 'com.google.android.gms'` means you have multiple  copies of the Google Play services library in your project. Check for this in your `Assets/Plugins/Android/` folder.

If your not sure which are duplicate you can list them here.

[2018-01-13 03:01] jkasten2 commented on #67
@amjaliks This permission is used to restore notifications back to the notification shade after the device is rebooted. Android does not do this automatically.

You can add the following to your `AndroidManifest.xml` to remove this permission, however I have seen Unity not accept the syntax.
[code]

If you the above does not work you can always unzip the .aar and modify the `AndroidManifest.xml` c

[2018-01-13 03:01] #67 closed

[2018-01-13 03:02] jkasten2 commented on #62
Closing due to inactivity, feel free to reply and we can reopen if the above does not help.

[2018-01-13 03:02] #62 closed

[2018-01-17 15:35] lulzbane commented on #72
hello, is there any way of troubleshooting this without xcode? we are getting a similar error on the unity cloud builds but it hasn't been a problem for us before, only recently.

this is what i get in the logs...
`9191: ▸ Compiling OneSignalUnityRuntime.m
9192: ⚠;️  /BUILD_PATH/ap-point.projecttracker-qa.qa-ios-enterprise/temp.XXXXXX20180117-2970-rybk8m/Libraries/OneSignal/Platforms/iOS/OneSignal

[2018-01-18 13:52] mdimello commented on #48
I'm using OneSignal Unity SDK v2.5.0 and still got the same problem.

Here's my code:
[code]

Is there any solution?

[2018-01-19 14:28] tonisuo commented on #76
I got this same error and after updating my android SDK and build tools still didnt work. The problem was that somehow the androidSDK folder that had the old sdks didnt receive the updates through Android Studio so I had to change the folder in unitys External Tools-->Android SDK to the the Android Studios installation folder. Then Unity recognized the new 26 version of the sdk.

[2018-01-19 18:41] alaslipknot commented on #33
works fine on Android but i get the Same exact issue as @BenoitFreslon on iOS

[2018-01-19 19:06] alaslipknot opened #77 "iOS - Fatal AppId format is invalid."
Hi,

I get this error at launch :

[code]
Only happens on iOS, Android push notification works perfectly fine.
using unity 2017.2.0f3 and the latest OneSignal sdk [from here](https://github.com/OneSignal/OneSignal-Unity-SDK)

This is our app id : _16a09469-d058-496e-80a6-3afe403e9e70_ (i even tried adding quote ' ' to it in iOS)

Also the OneSignal dashboard settings show that iOS version is Activ

[2018-01-20 01:40] Nightsd01 commented on #33
@alaslipknot  what version of the OneSignal SDK are you using?

[2018-01-21 06:11] alaslipknot commented on #33
@Nightsd01 latest one, also my issue was fixed, no idea what went wrong initially but i just recreated a new .p12 , uploaded it, and now it's all good. thanks !

[2018-01-22 10:26] RafikTSG opened #78 "OneSignal-Unity-SDK 2.2.2 can not start service on Android Oreo"
(My mistake: it turned out it's 2.2.2 instead of 2.5.0)
Game was build for Unity 5.6.4p4 with OneSignal-Unity-SDK 2.2.2,
in PlayGames Android vitals panel reports lot of crashes for Android 8.x phones only:

Caused by: java.lang.IllegalStateException:
  at android.app.ContextImpl.startServiceCommon (ContextImpl.java:1505)
  at android.app.ContextImpl.startService (ContextImpl.java:1461)
  at andro

[2018-01-29 02:01] suvajit79 opened #79 "Please add the following script as BuildPostProcessor.cs, in Editor folder, to automatically add UserNotifications.framework, in the next release"
[code]

[2018-01-29 14:04] AshHimself commented on #77
I am also getting this now.

[2018-01-29 20:21] Nightsd01 commented on #77
@alaslipknot  Thank you for reporting this issue, we are investigating this now and will resolve shortly.

[2018-01-29 21:44] jkasten2 commented on #40
`CLANG_ENABLE_MODULES` may also be needed to support cloud building.
https://github.com/scarlet/ScarletPostProcessor/blob/master/ScarletPostProcessor.cs

[2018-01-30 11:51] sharklab commented on #79
so with this it will now works with cloud builds right?

[2018-01-30 12:56] suvajit79 commented on #79
yeah, I hope so.

[2018-01-31 12:12] SirHazgard opened #80 "Crash OneSignal Unity-SDK on Android 7.0 (OneSignalSyncUtils.scheduleSyncTask)"
![2018-01-31_13h06_52](https://user-images.githubusercontent.com/35848841/35622504-5d16af64-0688-11e8-9b59-895b3570151c.png)

java.lang.Error: FATAL EXCEPTION [OSH_LocationHandlerThread]
Unity version     : 2017.2.0p3
Device model      : samsung SM-T825
Device fingerprint: samsung/gts3lltexx/gts3llte:7.0/NRD90M/T825XXU1AQI2:user/release-keys
Caused by
[code]
![2018-01-31_13h08_44](https://user-ima

[2018-01-31 22:52] jkasten2 commented on #80
@SirHazgard What version of the Unity OneSignal SDK are you using? This looks to be similar to the crash that was fixed version [2.2.1](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.2.1) of the Unity SDK.

The Android OneSignal native SDK was updated to 3.4.4 which included a fix for
 https://github.com/OneSignal/OneSignal-Android-SDK/issues/168 that looks to be the same kind of

[2018-02-01 01:19] josteph commented on #77
Any fix to this issue??

[2018-02-01 01:21] Nightsd01 commented on #77
@josteph we have [fixed](https://github.com/OneSignal/OneSignal-iOS-SDK/commit/4624a2c03d2de4b3b84519d38400229e3f2f3a29) this issue with the iOS SDK, we will be releasing an update this week. Thank you for reporting it and thanks for your patience!

[2018-02-01 07:55] SirHazgard commented on #80
I'm using the latest version 2.5.0 of the SDK-UNITY, and I can not reproduce the crash. it appears without manipulation on my part.
I have no more information from the stack.
Otherwise, I have an error similar to the previous one

java.lang.SecurityException
com.onesignal.OneSignalSyncUtils.scheduleSyncTask

java.lang.Error: FATAL EXCEPTION [main]
Unity version     : 2017.2.1f1
Device model      :

[2018-02-01 09:56] SamiSdd opened #81 "Android Build with Gradle Failed with Build Tools 27.0.1 (Execution failed for task ':OneSignalConfig:processReleaseResources')"
Please Find the Attached Logs

[code]

[2018-02-01 09:59] SamiSdd commented on #81
![image](https://user-images.githubusercontent.com/1784844/35672450-7645657e-0760-11e8-9cb9-fa8d362e2fc8.png)

[2018-02-01 21:31] jkasten2 commented on #81
Thanks for reporting and the full log. The root of the issue is lines 64919-64921.
[code]

Can you attach the contents of the `Assets/Plugins/Android/OneSignalConfig/AndroidManifest.xml` file in your project? It may have been generated incorrectly by the SDK.

[2018-02-01 22:31] SamiSdd commented on #81
`

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.onesignal.onesignalsdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9" />

    <permission android:name="com.bigwolf.game.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.bigwolf.game.permission.C2D_MESSA

[2018-02-02 17:03] DrTeixeira258 commented on #77
Hi @Nightsd01, some new previous for release a new version?

[2018-02-03 04:11] jkasten2 commented on #77
The fix corrects an issue where this error is displaying incorrectly in the Xcode console even when everything is setup correctly and OneSignal is working. It was due to the SDK checking for an app_id before Unity as time to load your first scene with your OneSignal init code.

If you see a subscribed iOS user on your OneSignal dashboard and notifications display then you have everything setup cor

[2018-02-03 14:55] filippodicostanzo commented on #77
I have the same issue. I'll waiting for this fix.

[2018-02-03 21:26] eduardolopesUFJF commented on #77
Hi @jkasten2, i'm having this same issue on cordova-sdk. Could you check please?

[2018-02-03 21:31] filippodicostanzo commented on #77
I solved by modifing the double quotes with single quote. And now it works “sampleid” —-> ‘sampleid’

[2018-02-03 22:32] eduardolopesUFJF commented on #77
I put the single quote, but do not work.

[2018-02-06 03:03] jkasten2 commented on #81
@SamiSdd This looks all correct. It might be trying to bring in `AndroidManifestTemplate.xml` too which would create those errors.
Can you try the following?

1. Rename `AndroidManifestTemplate.xml` to `AndroidManifestTemplate.txt` in `Assets/Plugins/Android/OneSignalConfig/`.
2. Update line 122 line [Assets/OneSignal/Editor/OneSignalEditorScript.cs](https://github.com/OneSignal/OneSignal-Unity-SD

[2018-02-06 11:53] SamiSdd commented on #81
Try your Changes will the same result. This seems to be related to the build tools. If you downgrade the build tools this seems to be work fine but the latest build tools doesn't seems to work

![image](https://user-images.githubusercontent.com/1784844/35858407-1fcc4c7e-0b5e-11e8-9e2e-9f9ea2b6d1f1.png)

[2018-02-06 13:05] AnnKryvenko opened #82 "Crash OneSignalStateSynchronizer"
![screen shot 2018-02-06 at 14 56 13](https://user-images.githubusercontent.com/16333229/35861006-e5b7eb42-0b4e-11e8-9da2-34cea417692e.png)
Unity version: 2017.3.0p2
OneSignal-Unity-SDK version: 2.5.0

Fatal Exception: java.lang.NullPointerException: Attempt to invoke direct method 'com.onesignal.OneSignalStateSynchronizer$UserState com.onesignal.OneSignalStateSynchronizer$UserState.deepClone(java

[2018-02-06 20:48] AnnKryvenko opened #83 "Crash on Samsung devices"
![screen shot 2018-02-06 at 22 47 14](https://user-images.githubusercontent.com/16333229/35883389-c6a7b296-0b8f-11e8-8190-c776b58f5b17.png)
Unity version: 2017.3.0p2
OneSignal-Unity-SDK version: 2.5.0

[code]

[2018-02-11 00:16] BlueSpiritbox commented on #75
I'm having this issue as well. I'm using OneSignal 2.5.0 and Play Services 0.9.50. Tried the Android Resolver, but no luck.

[2018-02-11 01:38] BlueSpiritbox commented on #75
I got it to work :) I was able to fix this issue by going in the OneSignalEditorScript.cs file and change the following lines

to

It's actually a solution that they suggested for a build error with Facebook SDK https://documentation.onesignal.com/docs/troubleshooting-unity#section-build-error-with-facebook-sdk.
It seems to work for the Google Play Games plug as well. Tested it on an Android devic

[2018-02-17 12:29] dimmduh commented on #79
@suvajit79 Thanks for sharing. Is it enough to build without manual adding in xcode? I build via gitlab ci.

[2018-02-17 22:28] shirkan commented on #81
I'm facing the same issue.

[2018-02-26 06:18] kaninhot004 commented on #81
I'm facing this issue too.

[2018-02-26 07:47] kaninhot004 opened #86 "java.lang.ClassNotFoundException: com.onesignal.OneSignalUnityProxy when using Gradle build system with Proguard"
[code]

Anyone had this issue? Thank you!

[2018-02-26 12:03] akil-ajax opened #87 "Issue on latest ios version"
`OneSignalIOS' does not implement interface member `OneSignalPlatform.parseOSEmailSubscriptionStateChanges(string)'

[2018-02-26 23:51] Nightsd01 commented on #87
@akil-ajax thank you for reporting this issue, it appears a file was missed in the commit.

This issue has been fixed in the latest release, [version 2.6.1](https://github.com/OneSignal/OneSignal-Unity-SDK/tree/2.6.1). Please let me know if you encounter any further issues.

[2018-02-26 23:51] #87 closed

[2018-02-27 00:12] Nightsd01 commented on #86
@kaninhot004 Are you certain you followed every step of the [setup guide](https://documentation.onesignal.com/docs/unity-sdk-setup) correctly?

[2018-02-27 02:56] kaninhot004 commented on #86
Yes sure I follow every step and troubleshooting.

I will try not to click Assets > Play Services Resolver > Android Resolver > Resolve today thanks!!

[2018-02-28 14:31] wpinaud opened #88 "Facebook SDK incompatibility with ANDROID_SUPPORT_VERSION 26+ in 2.6.1 Release"
Hi,

As mentioned in the troubleshooting section the Facebook SDK doesn't work well with the latest of OneSignal 2.6.1 Release  out of the box.

Following this tutorial (with ANDROID_SUPPORT_VERSION 25+) : https://documentation.onesignal.com/docs/troubleshooting-unity#section-build-error-with-facebook-sdk

Fixes the Facebook issue but introduce an issue with OneSignal, the client can't subscribe t

[2018-02-28 22:22] Fyb3roptik opened #89 "IOS - GetPermissionSubscriptionState not firing"
I have implemented the example code and cannot get this to fire. My debug logging stops after I call this function
[code]

[2018-02-28 22:44] Nightsd01 commented on #89
Hi @Fyb3roptik

What version of the SDK are you using?

Does this bug occur on both iOS/Android? Or does it only occur on one?

[2018-02-28 22:46] Fyb3roptik commented on #89
Version: 2.6.1
I am only testing iOS right now

[2018-03-01 00:12] Nightsd01 commented on #89
@Fyb3roptik Thank you for posting this issue. This is definitely an issue with the Unity SDK. I will be posting an update to resolve it today. Thanks!

[2018-03-01 16:24] Fyb3roptik commented on #89
It is now working in 2.6.2 Thanks!

[2018-03-01 16:24] #89 closed

[2018-03-05 19:37] Nightsd01 commented on #88
@jkasten2 Any idea what would cause clients to be unable to subscribe on an older android support version?

[2018-03-05 19:38] wpinaud commented on #88
It looks like your backend is blacklisting users with android support <26

[2018-03-05 19:38] Nightsd01 commented on #86
@kaninhot004 I am not sure what you mean. Are you saying the Android resolver fixed your issue?

[2018-03-05 20:05] Nightsd01 commented on #88
@wpinaud Can you send me a screenshot of your unity android Player settings?

[2018-03-06 02:52] kaninhot004 commented on #86
Sorry for bad English.
- I've followed the One Signal Guide.
- I've google for 2 days.

Still error maybe Gradle & Proguard Build is cause of this. ( I can't build Internal I've 3-4 plugin in Unity Project )

[2018-03-06 14:18] wpinaud commented on #88
Sure
The android player settings:
![https://cl.ly/pyFN/Image%202018-03-05%20at%209.50.19%20PM.png](https://cl.ly/pyFN/Image%202018-03-05%20at%209.50.19%20PM.png)
The OneSignal configuration:
![https://cl.ly/pxRA/Image%202018-03-05%20at%209.50.29%20PM.png](https://cl.ly/pxRA/Image%202018-03-05%20at%209.50.29%20PM.png)

I'm going to run more testing and come back to you - we have an automation plan

[2018-03-12 14:01] Kshopper93 opened #90 "Send Pushnotification to IOS failed"
I'm using the 2.6.2 Version . And i followed the documentation step by step more times. The registration to OneSignal is successful but when i send a push notification they failed.

How can i read the error message why the push is failed?

[2018-03-12 14:22] Kshopper93 commented on #90
Solved: I created a new Certificate and done ;)

[2018-03-12 14:22] #90 closed

[2018-03-14 12:41] iamAloTheGreat commented on #75
Hi @BlueSpiritbox. Can you tell us what is your SDK version? and other information coz I tried this solution also but still unable to build for android. Thanks.

[2018-03-14 12:51] BlueSpiritbox commented on #75
@iamAloTheGreat I'm using OneSignal 2.5.0 and Google Play Games Plugin 0.9.50, and running it on Unity 2017.3.0f3

[2018-03-14 13:28] iamAloTheGreat commented on #75
Hi I tried to create an empty project and imported PlayGames 0.9.50 and OneSignal 2.5.0, but I'm still unable to build. Should I update my Play Services Resolver?

[2018-03-14 13:32] BlueSpiritbox commented on #75
@iamAloTheGreat Yeah, give that a try. I'm using Play Services Resolver 1.2.61.0 by the way.

[2018-03-14 14:01] iamAloTheGreat commented on #75
Still not working.. what Android SDK version do you have for building?

[2018-03-14 14:57] BlueSpiritbox commented on #75
@iamAloTheGreat tried it with Android SDK 25 and 26, and both worked fine.

[2018-03-15 06:33] iamAloTheGreat commented on #75
Thanks for replying @BlueSpiritbox
I tried it but still no luck. I have an error CommandInvokationFailure: Failed to re-package resources.
/Users/aloimmaculata/android-sdk-macosx/build-tools/27.0.3/aapt package --auto-add-overlay -v -f -m -J "gen" -M "AndroidManifest.xml" -S "res" -I
I downloaded the latest sdk

[2018-03-15 08:46] hakansaglam commented on #83
Is there any plan on this issue?

[2018-03-15 18:09] jkasten2 commented on #83
@AnnKryvenko @hakansaglam The OneSignal Android Native 3.8.2 SDK noted in that thread will be included in the next Unity SDK update.

[2018-03-15 19:01] Nightsd01 commented on #88
@wpinaud Any update on what happened?

[2018-03-15 19:48] pandey623 opened #91 "How to fix this error of "Moving File Failed""
![onesignalerror](https://user-images.githubusercontent.com/25692596/37487581-eafd8b76-28b7-11e8-95b3-1a84ccddc323.PNG)

[2018-03-15 19:50] pandey623 commented on #91
https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.4.0
android sdk version 26.1.1
unity 2017.2.0

[2018-03-16 09:07] jkasten2 commented on #83
The [OneSignal Unity SDK 2.6.3](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.6.3) has been released with this possible fix. Let us know the results after you release an update to your app. Thanks!

[2018-03-16 16:36] agrobost commented on #91
same error

[2018-03-16 17:25] wpinaud commented on #88
Yes, our build system replaced this value by Highest version available, and my system was setup with the SDK 27.
Removing this script and forcing unity to use SDK 25 solved the problem.

Thank you for your help and pointing me to the right direction.

[2018-03-16 17:25] #88 closed

[2018-03-16 18:42] jkasten2 commented on #91
@pandey623 You noted your using version 2.4.0 of OneSignal? Can you try updating to our latest 2.6.3 SDK?
https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.6.3

@agrobost That plugin may help as it most likely contains a newer version of the [unity-jar-resolver](https://github.com/googlesamples/unity-jar-resolver) which takes care of importing .aar and .jar files into the project.

[2018-03-16 18:55] georgepiva commented on #86
Hi @kaninhot004!
I am facing the same issue here.
Any update on this subject?

[2018-03-16 19:06] jkasten2 commented on #86
We released [version 2.6.3](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.6.3) yesterday, can you try this version to see if it resolves this issue?

If not, let us know what "Build System" you used (Internal, Gradle, or ADT) and if you used proguard

[2018-03-16 19:14] georgepiva commented on #86
Hi @jkasten2!
I am going to try the new version right now. I will come back to you.
About the "Build System", I am using Gradle as shown inside the attached image.

![build_settings_and_unity_2017_1_2p1__64bit__-_initialscene_unity_-_redstonemahjong_-_android__opengl_4_1_](https://user-images.githubusercontent.com/791511/37540233-f984d140-2934-11e8-8688-c50db36e22b2.jpg)

[2018-03-16 20:26] georgepiva commented on #86
@jkasten2 runtime errors still present:

In order to allow Gradle to build the APK, I needed to do the next workaround:

https://answers.unity.com/questions/1479800/commandinvokationfailure-gradle-build-failed-with.html

May this be the reason of this issue?

[2018-03-16 23:47] jkasten2 commented on #86
Thanks for the details, I was able to reproduce the problem but only when selecting Gradle as a "Build System". It defaults "Minify" to Proguard which ends up removing the required  `com.onesignal.OneSignalUnityProxy` class. If you need to use the Gradle build system you can turn this off to work around the issue for now.

![image](https://user-images.githubusercontent.com/645861/37548932-c2a8a40e

[2018-03-16 23:52] jkasten2 commented on #78
@RafikTSG We add Android 8+ Oreo support in [version 2.4.0](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.4.0) and made some additional Oreo fixes in [version 2.4.1](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.4.1). However we always recommend using the latest SDK which is currently 2.6.3
https://github.com/OneSignal/OneSignal-Unity-SDK/releases

If free to re

[2018-03-16 23:52] #78 closed

[2018-03-17 00:07] jkasten2 commented on #42
@rossojr92 Can you show a screenshot of your setup where you added `UserNotifications.framework` if you are still having an issue?

We will open this issue back up if you can reply with more details. Thanks!

[2018-03-17 00:07] #42 closed

[2018-03-21 19:58] Nightsd01 commented on #91
Closing this issue due to inactivity @pandey623 ........

I am assuming updating to the latest version of the SDK resolved your issue. If not please feel free to respond and I'll be happy to reopen and investigate.

[2018-03-21 19:58] #91 closed

[2018-03-21 21:01] jkasten2 commented on #79
@suvajit79 @sharklab @dimmduh Fixed this link issue in our [2.6.1 version](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.6.1) so Unity Cloud builds should now be working for iOS!

@Nightsd01 Could @suvajit79 code be used to simplify our implementation? https://github.com/OneSignal/OneSignal-Unity-SDK/commit/584bc15613b69cc5148e805400ac8794b16266fa#diff-a3a7977ca0cd7571fae3ade8416

[2018-03-21 21:03] sharklab commented on #79
Wonderful!

Il mer 21 mar 2018, 22:02 Josh Kasten <notifications@github.com> ha scritto:

[2018-03-22 14:48] agrobost commented on #91
No more problem, good job!

I just added in OneSignalScriptEditor :
private static readonly string PLAY_SERVICES_VERSION = "10+";
private static readonly string ANDROID_SUPPORT_VERSION = "25+";
and set target api level 7.1 (https://documentation.onesignal.com/docs/troubleshooting-unity#section-build-error-with-facebook-sdk)

[2018-03-23 00:03] Nightsd01 commented on #1
Due to a very small user base, we will no longer be updating the Windows unity plugin. We will not remove it but will not invest further resources into it either. Apologies for any inconvenience this may cause.

[2018-03-23 00:03] #1 closed

[2018-03-23 00:04] #19 closed

[2018-03-23 00:05] Nightsd01 commented on #36
Due to a very small user base, we will no longer be supporting the Windows Phone unity plugin. Apologies for any inconvenience this may cause. We will not be removing it from the SDK but we will not be investing resources into updating it either.

[2018-03-23 00:05] #36 closed

[2018-03-23 00:06] Nightsd01 commented on #40
Fixed in #85

[2018-03-23 00:06] #40 closed

[2018-03-23 00:18] Nightsd01 commented on #43
This issue no longer occurs in the most recent versions of the SDK.

[2018-03-23 00:18] #43 closed

[2018-03-23 00:19] Nightsd01 commented on #43
For future reference @emilpedersen

The SDK is not fully initialized during the 'Made with Unity' splash screen and the Unity runtime has not fully loaded yet. Due to this, whatever you set as the display type setting will not be applicable until the SDK is initialized.

[2018-03-23 00:19] Nightsd01 commented on #48
This was caused by the same issue as #43, marking as duplicate.

[2018-03-23 00:19] #48 closed

[2018-03-23 00:21] Nightsd01 commented on #68
Closing due to inactivity @platinio .....

If you are still encountering this issue, please feel free to respond and I'll be happy to reopen and investigate the issue further.

[2018-03-23 00:21] #68 closed

[2018-03-23 05:17] jkasten2 commented on #71
@3d03 The OneSignal SDK itself is less than 2k methods out of the 64k limit. Most of the method counts hitting the dex limit are due to the Android Support Library and the Google Play services library OneSignal depends on. Most of the methods in these 2 libraries are not used by OneSignal so they can be optimized out with Proguard to solve your DEX limit issue.

Unity now has Gradle as a "Build Sy

[2018-03-23 05:17] #71 closed

[2018-03-23 10:16] Epiczzor opened #93 "Notifications from my own server"
Can I use this to get notifications from my own server rather than the one signal free service ?

[2018-03-23 15:14] gegapp opened #94 "failed to re-package ressources"
any help please, i want to test **onesignal sdk** in empty unity project, and i get this error bellow when i want to build apk :

C:\Users\My\AppData\Local\Android\Sdk\build-tools\27.0.3\aapt.exe package --auto-add-overlay -v -f -m -J "gen" -M "AndroidManifest.xml" -S "res" -I "C:/Users/My/AppData/Local/Android/Sdk\platforms\android-27\android.jar" -F bin/resources.ap_ --extra-packages android.arc

[2018-03-23 18:02] Nightsd01 commented on #93
Yes you can. The SDK is completely open source so there's nothing to stop you. However I would highly advise you not to.

[2018-03-23 18:02] #93 closed

[2018-03-24 06:41] jgersindemir opened #95 "Caused by android.os.DeadSystemException"
We are developed game using Unity One Signal SDK. I got crash from SDK
Onesignal Unity SDK version : 2.6.3
Unity version : 5.6.5
App In Background : Yes
Android OS : 7
Device : HUAWEI

[code]

[2018-03-26 18:41] Nightsd01 commented on #79
@jkasten2 This does indeed simplify adding frameworks

@suvajit79 Thank you for suggesting this, it's much simpler than the solution we used in 2.6.1

[2018-03-26 18:41] #79 closed

[2018-03-26 18:58] Nightsd01 commented on #95
@jgersindemir Can you please add more details? When does this issue occur? Can you easily reproduce it?

[2018-03-26 18:59] Nightsd01 commented on #83
Closing due to inactivity, I assume this fixed your issue. If not please feel free to respond and I'll be happy to reopen and investigate.

[2018-03-26 18:59] #83 closed

[2018-03-26 19:01] #82 closed

[2018-03-26 19:02] Nightsd01 commented on #81
@jkasten2 Can you take another look into this?

[2018-03-26 19:03] #76 closed

[2018-03-26 19:05] Nightsd01 commented on #75
@iamAloTheGreat Is this issue still occurring in the latest version (2.6.3) of the OneSignal SDK?

[2018-03-26 19:07] #70 closed

[2018-03-26 19:12] Nightsd01 commented on #57
@amjaliks I have tested this issue and have been unable to reproduce it. Is this issue still occurring for you?

Closing due to inactivity - if this issue is still occurring for you please feel free to respond and I'll be happy to reopen and investigate.

[2018-03-26 19:39] jgersindemir commented on #95
It is hard to reproduce it. We saw that error on Fabric. If we find  more details , let me known.

[2018-03-26 22:22] Nightsd01 commented on #95
@jkasten2 Any idea what could be causing this?

It looks like this line (getting `game_version` parameter) could be responsible:

[code]

[2018-03-26 23:14] jkasten2 commented on #95
@jgersindemir This is due to the the Android core system process dying and then restarting on the device. There isn't really much that can be done in your app, it is due to a bug in the system ROM on the device. A number of API will throw when the app is in this state, it just happened to be OneSignal in this case. More details it the thread below

https://stackoverflow.com/a/44395215/1244574

Tha

[2018-03-26 23:14] #95 closed

[2018-03-26 23:21] jkasten2 commented on #81
I haven't been able to reproduce this issue. We did update to the latest Google Jar resolver so this may have fixes some Android build issues.

@SamiSdd from looking at your logs again it looks like your using 5.6.2f1. Can you update to to the latest version 2017.4.1f of Unity as well as trying our latest SDK?

@SamiSdd @shirkan @kaninhot004 Can you also answer the following?
1. What Unity version

[2018-03-26 23:43] jkasten2 commented on #86
The proguard rule is now added automatically in [version 2.6.4](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.6.4) to fix this issue

[2018-03-26 23:43] #86 closed

[2018-03-26 23:45] jkasten2 commented on #41
This was related to a race condition with `PromptLocation` that would cause registration issues in some cases unrelated to the Gear VR plugin. This issue should now be fixed in [version 2.6.4](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.6.4)

[2018-03-26 23:45] #41 closed

[2018-03-26 23:47] jkasten2 commented on #94
@gegapp I recommend trying our [latest 2.6.4](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.6.4) as the issue is most likely related to the wrong version of the Google Play services library being included in your app.

Please provide a full unity editor log if this doesn't help your issue.

Thanks!

[2018-03-26 23:47] #94 closed

[2018-03-27 13:08] hakansaglam commented on #83
It seems that related fix is not worked:
https://github.com/OneSignal/OneSignal-Android-SDK/issues/263

[2018-03-28 07:03] btaller opened #96 "One Signal is crashing my Unity android app when I use sendtag on device"
I am not sure why this is happening or how to find out, but it clearly is happening after invoking SendTag...I am invoking it from a web service callback.  That is on the main thread, is it not?

Thanks

-Ben

signal 11 (SIGSEGV), code 1 (SEGV_MAPERR), fault addr 00000000
03-28 14:33:12.645 3415-3466/? E/CRASH: *** *** *** *** *** *** *** *** *** *** *** *** *** *** *** ***
03-28 14:33:12.645 3415

[2018-03-28 08:24] jkasten2 commented on #96
@btaller Are you able to reproduce the issue on your own device? If so can you make a build with "Scripting backend" set to "Mono" instead of "IL2CPP"? This should give us a much better stack trace.

[2018-03-28 09:33] iamAloTheGreat commented on #75
Yes @Nightsd01 , I tried the latest version as v2.6.3.

[2018-03-28 10:44] jkasten2 commented on #75
@iamAloTheGreat I am not able to reproduce the `Failed to re-package resources.` error you are seeing with a new Unity project with [OneSignal 2.6.4](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.6.4) and Google Play Games Plugin 0.9.50. We did change the Google Play services and Android Support library dependencies from `+` to a version range. Can you try again with  our 2.6.4 v

[2018-03-28 15:04] btaller commented on #96
Yes, I fixed it.  It appears that I was sending tags before it was
registered.  It resulted in a hard crash of the app.  Should probably warn
instead...

On Wed, Mar 28, 2018 at 4:25 PM, Josh Kasten <notifications@github.com>
wrote:

[2018-04-02 16:40] mdimello commented on #43
Issue still occurs in OneSignal SDK v2.6.4

Unity Version: 2017.4.f1
Device: Iphone 6S
iOS Version: 10.3

Initialization code:
[code]

[2018-04-02 21:10] Nightsd01 commented on #96
@btaller thanks for reporting this and your solution to it. Calling `sendTags` before registering shouldn't cause a crash, I agree, but I've been unable to reproduce your issue.

If you can use Mono and generate a nicer stack trace could you post it here? Thanks!

[2018-04-02 21:10] #96 closed

[2018-04-02 21:33] jkasten2 commented on #72
@lulzbane Unity Cloud build support was added in our 2.6.1 SDK
https://github.com/OneSignal/OneSignal-Unity-SDK/releases

[2018-04-03 07:15] lulzbane commented on #72
thanks @jkasten2  we were on 2.5.0

[2018-04-03 07:45] jkasten2 commented on #80
Closing due to inactivity. If you still see the issue after updating to the OneSignal SDK 2.6.4 or newer let us know

[2018-04-03 07:45] #80 closed

[2018-04-06 19:45] Nightsd01 commented on #81
Closing this issue due to inactivity - I am assuming this issue was fixed in recent updates. If the issue is still occurring, please feel free to reply and we'll be happy to reopen and investigate the problem.

[2018-04-06 19:45] #81 closed

[2018-04-07 10:58] ColorTwist commented on #81
jkasten2 answer solved it. After some massy struggling ...

I updated to latest 2.6.4 SDK with unity 2017.3.1.p1 and that error disappeared .

[2018-04-07 22:53] jkasten2 commented on #75
@DimHoly I believe the original app crash you reported is no longer an issue with the latest versions I noted above so closing this issue

[2018-04-07 22:53] #75 closed

[2018-04-09 13:02] VGmandeep opened #98 "Facebook SDK 7.2.2 - Duplicate Permission of c2d_message error"
When building the project for android I am getting this error in androidManifest at
\Temp\gradleOut\OneSignalConfig\AndroidManifest.xml

I am using Facebook and firebase alongwith this plugin.
Using Unity 2017.3.0 f1
JDK 1.8.0_161
And latest android SDK.

Please help.

[2018-04-09 16:00] Kshopper93 opened #99 "Bad notification posted from package XX Couldn't expand RemoteViews for: StatusBarNotification"
Hello,

my app crash on Android 7.0 but i can't reproduce the issue maybe someone can help me.
OneSignal Version: 2.6.1

[code]

[2018-04-09 18:14] jkasten2 commented on #99
@Kshopper93 Thanks for reporting, this Unity SDK uses the OneSignal-Android-SDK which as an open issue for this already
https://github.com/OneSignal/OneSignal-Android-SDK/issues/263

Please follow this thread for updates

[2018-04-09 18:14] #99 closed

[2018-04-09 18:40] jkasten2 commented on #98
@VGmandeep Can you provide the following details?
1. Please share your file noted in the error `\Temp\gradleOut\OneSignalConfig\AndroidManifest.xml`
2. Under  `File` > `Build Settings` > `Build System` what value do you have set?
3. Please provide exact versions of; OneSignal, Facebook, and Firebase you are using so we can make sure we are testing with the same ones.

[2018-04-10 04:50] VGmandeep commented on #98
@jkasten2  Thanks for your reply,

1. the file you asked for is

<?xml version="1.0"?>

-<manifest android:versionName="1.0" android:versionCode="1" package="com.onesignal.onesignalsdk" xmlns:android="http://schemas.android.com/apk/res/android">

<uses-sdk android:minSdkVersion="9"/>

<permission android:protectionLevel="signature" android:name="com.brainfun.word_jumble_connect.permission.C2D_MESS

[2018-04-18 15:02] Khaled-Almoukhtar commented on #98
I have the same issue

[2018-04-19 07:11] VGmandeep commented on #98
@Khaled-Almoukhtar ,
I have resolved this by downgrading Unity to 2017.2.2.
Hope this helps.

[2018-04-19 07:27] Khaled-Almoukhtar commented on #98
@VGmandeep Thanks for the update,
I am using Unity 2017.4.1 LTS, I think I will wait for a solution from @jkasten2

[2018-04-19 07:32] VGmandeep commented on #98
@Khaled-Almoukhtar,

I was using Unity 2017.3 but OneSignal gives this error above 2017.2.2, may be they haven't updated according to the unity version.

But you can wait for a solution from @jkasten2 .

He will be needing your mainTemplate.gradle and versions of plugins you are using.

Cheers,

[2018-04-19 09:52] tomato-calvin commented on #81
I'm using 2017.3.1f1 and 2.6.4 SDK but failed to build too (Is a clean project without any other plugin, failed in both "Gradle" and "Internal" build system)

stderr[
ERROR: In <declare-styleable> FontFamilyFont, unable to find attribute android:font
ERROR: In <declare-styleable> FontFamilyFont, unable to find attribute android:fontStyle
ERROR: In <declare-styleable> FontFamilyFont, unable to find

[2018-04-19 19:16] jkasten2 commented on #81
@tomato-calvin This error could be due your Android SDK being out of date on your system. Can you make sure you have the latest?

[2018-04-20 03:51] tomato-calvin commented on #81
Thanks for the reply, ya is something wrong with my SDK, I try to update the latest build tools it turns out my unity can't build any other projects.
But anyway I solve it by clean up my sdk and copy my colleague SDK LOL. it works now

[2018-04-23 04:45] doyongid opened #103 "New ANR issues (com.onesignal.SyncJobService)"
New ANR issues have occurred since upgrading OneSignal to 2.6.4.

We have to apply for a featured app, but the rate of ANR is too high.

What is the cause?

Unity Version : 5.6.5p3
[code]

[2018-04-23 22:49] jkasten2 commented on #103
@doyongid The crash is from the `com.naver.glink.android.sdk.Glink` library in your app. It looks like this class is from the [naver/cafe-sdk-android](https://github.com/naver/cafe-sdk-android) library. I recommend following up with them on the issue with this stack trace.

The reason why you see `com.onesignal.SyncJobService` at the time as this sync service was running at the time. However since

[2018-04-23 22:49] #103 closed

[2018-05-03 09:08] oleschaper opened #105 "Crashes on iOS due to Heap Corruption with version 2.6.4"
**Description:**
We did update from version 2.4.0 to version 2.6.4 and our app started crashing on ios with different stack traces that are related to memory allocation.

So we downgraded to 2.4.0 and now it works again.

We are using crashlytics for crash reporting and their "Crash Insights" feature shows the following info:

**Stacktraces:**

Example Stacktrace 1

[code]

Example Stacktrace 2

[

[2018-05-03 20:19] Nightsd01 commented on #105
@oleschaper Can you reproduce this issue yourself? If so, can you provide the steps you use to reproduce the issue?

It looks like it is (possibly) related to posting a notification.

[2018-05-04 20:42] jkasten2 commented on #98
@VGmandeep The Facebook SDK 7.2.2 is extremely old, it is from Dec. 2015! I was able to reproduce the same `Duplicate Permission of c2d_message` when using this Facebook SDK version with OneSignal.

@Khaled-Almoukhtar What Facebook SDK version are you using?
If you are also using very old version as well you will need to delete the old Facebook SDK before updating to the new one.
Delete FacebookSD

[2018-05-05 04:12] Nightsd01 commented on #105
@oleschaper thanks for bringing this issue to our attention and thanks for the stacktraces. We’ll investigate and fix the issue as soon as possible.

[2018-05-16 18:57] pandailing opened #109 "Facebook SDK and OneSignal build error"
**Description:**

i use Uniwebview plugin for unity form https://assetstore.unity.com/packages/tools/network/uniwebview-3-92605

and when i build for Android, we got
`C:\Android\android-sdk\build-tools\build-tools-23.0.1\aapt.exe package --auto-add-overlay -v -f -m -J "gen" -M "AndroidManifest.xml" -S "res" -I`

complete output is similar with this link https://pastebin.com/LNZkctJV

what am i do

[2018-05-16 19:14] jkasten2 commented on #109
@pandailing I see `com.android.support.appcompat-v7-28.0.0-alpha1` is being used in your project based on the log you have attached. Please make sure you are using the OneSignal SDK 2.7.0 as this corrects an issue were this alpha version of appcompat would be imported. You should restart Unity and rerun Assets > Play Services Resolver > Android Resolver > Force Resolve as well after updating the O

[2018-05-17 07:50] CameronGoosen opened #110 "Upgrade from 2.5.0 to 2.7.0 causing iOS cloud build failure"
**Description:**
Upgraded from Version 2.5.0 to Version 2.7.0, now when I try and do a cloud build on Unity I get the following Error :
Code Signing Error: Provisioning profile "ACTIVITYtracker Qa" has app ID "com.appoint.activitytrackerqa", which does not match the bundle ID "com.appoint.activitytrackerqa.OneSignalNotificationServiceExtension".

**Environment**
-Using Unity 2017.2.0f3
-Issue Occu

[2018-05-17 09:36] pandailing commented on #109
@jkasten2 hello, i was reimport my backup project and use onesignal 2.7.0
still error, here the following eror log
[https://pastebin.com/ry3GK8g8](url)
had any other solutions?

[2018-05-17 20:59] jkasten2 commented on #109
I see `27.1.1` is now being used in your project but the issue could now be with the Android SDK the app is being built with. Make sure you are using the latest version in Unity and that you have Android platform tools 27 as well. You can follow the details here to check this.
https://documentation.onesignal.com/docs/troubleshooting-unity#section-android-build-error-android-keyboardnavigationclust

[2018-05-17 21:01] jkasten2 commented on #98
Closing due to inactivity. Please try updating the Facebooks SDK noted above, please provide more details if the above did not help and we can re-open this ticket.

[2018-05-17 21:01] #98 closed

[2018-05-19 04:46] pandailing commented on #109
@jkasten2 hello again
i am sorry i cannot share my code because of some circumstances. I also cannot change my unity version higher than Unity 5.3.5 because of some reason. I am doing some research that might help One Signal Team in order to solve my problem and other people problem that encounter same problem with me:

1. i try to use unity 5.3.5 empty project for One Signal plugin and it worked

[2018-05-19 12:40] HzrdIRL opened #111 "iOS Post build script causes Unity Cloud builds to fail - mismatched bundle identifier"
**Description:**
iOS builds fail when using the Unity Cloud platform. The PostProcessBuildPlayer_iOS script is adding "OneSignalNotificationServiceExtension" to the bundleID which causes builds to fail with mismatched provisioning information. See the log output below for details.

**Environment**
Unity 2018.1.0f2
OneSignal Unity SDK v2.7.0
No dependencies
Only occurs for iOS builds (development a

[2018-05-19 12:40] HzrdIRL commented on #111
I have resolved the issue myself by removing the line that updates the bundleID. But I would prefer an official response/fix, thanks! :)

[2018-05-19 20:26] Nightsd01 commented on #111
@HzrdIRL it’s not an issue with the build script, you need to go into the Apple developer portal and provision the extension device.

To make things easier, if you open the project in Xcode it can automatically create a provisioning profile for you. From then on the Unity cloud build should work.

[2018-05-19 20:28] Nightsd01 commented on #110
@CameronGoosen this would be a provisioning issue, not an sdk issue.

You can either log in to Apple’s developer center and manually create a provisioning profile for the extension service, or you can simply open the generated project in Xcode and enable automatic provisioning, which will automatically generate a profile for you. From then on, the cloud build should be successful.

[2018-05-19 20:28] #110 closed

[2018-05-20 09:18] fadiloutf opened #112 "error when build the new version 2.7.1 with unity 2017"
**Description:**

Hello...
I tried version 2.7.1 with unity 2017.3.1, But it doesn't build a new APK. , but when I tried Other projects that not contains "OneSignal Plugin" built normally.
Then I tried to load the package to a new project and made all steps above, But same problem.

**Environment**

1. Using : Unity 2017.3.1f1
2. OneSignal-Unity-SDK 2.7.1

**Steps to Reproduce Issue:**

1. Opened

[2018-05-21 06:15] CameronGoosen commented on #110
@Nightsd01 Thanks so much for replying.

We have already created provisioning profiles for our current project and unity only has space on the cloud build for 1 provisioning profile, please could you give me more information on how to go about provisioning the extension service and adding it to unity. I have looked through all the the OneSignal Documentation on the website and can't find any steps

[2018-05-22 07:31] fadiloutf commented on #112
**Thank you for your reply...**

I tried "Gradle" option but not working, Then I tried the same option at another project (without OneSignal Plugin) worked normally.

**Some Info maybe help ...**
JDK 1.8.0_144
Android SDK Tools : 25.2.5
Android SDK Platform Tools : 26

**Error Logs:**
CommandInvokationFailure: Gradle build failed.
C:/Program Files/Java/jdk1.8.0_144\bin\java.exe -classpath "E:\Prog

[2018-05-22 16:26] Khaled-Almoukhtar opened #113 "v2.7.1 seems to be identical to v2.7.0"
**Description:**

I downloaded the latest version v2.7.1 and updated current one in my project which is v2.7.0 but I see no changes in the imported files, also the unity package is both identical

![image](https://user-images.githubusercontent.com/4400658/40375894-91d52e50-5df5-11e8-810f-01f996a20149.png)

Link to 2.7.1 version:
https://github.com/OneSignal/OneSignal-Unity-SDK/archive/2.7.1.zip

L

[2018-05-22 18:44] Nightsd01 commented on #113
@Khaled-Almoukhtar Thanks for pointing this out. It looks like we made a mistake in the 2.7.1 release and we've released an update to fix it.

[2018-05-22 18:44] #113 closed

[2018-05-22 19:09] Nightsd01 commented on #112
Hi @fadiloutf , can you try version 2.7.2? We made a mistake when releasing 2.7.1.

[2018-05-22 19:50] Fyb3roptik opened #114 "Error in 2.7.2"
Newest version of the SDK gives this error in Unity 5.6.5. This happens during Android build

[code]

[2018-05-23 01:16] #114 closed

[2018-05-23 02:14] Fyb3roptik commented on #114
When will this be in a release?

[2018-05-23 08:10] fadiloutf commented on #112
Hi
@Nightsd01
OneSignal Example: worked fine with the two options "Internal" and "Gradle"

Thank you ....

[2018-05-24 14:28] Fyb3roptik opened #116 "Issue in 2.7.2 still occuring"
Issue #114 was closed, but the fix was only for iOS. My issue was with Android not compiling properly! I saw #115 but there is no newer release with this fix in it. Please make a 2.7.3 release ASAP!

[2018-05-24 16:28] Fyb3roptik commented on #116
Also, for iOS is giving this error in Unity:

[code]

[2018-05-24 16:32] Fyb3roptik commented on #116
Getting this issue with 2.7.0 as well. Is there a reason this is happening?

[2018-05-24 16:38] Fyb3roptik commented on #116
2.6.4 works for me. I am using Unity 5.6.5

[2018-05-24 17:35] Nightsd01 commented on #116
@Fyb3roptik this issue was fixed in a PR yesterday. 2.7.2 was released two days ago. We will be coming out with a new release soon. Git auto closes your issue when we merge the PR to master. Please don’t open duplicate tickets. The update will be released soon, in the mean time, you can continue to use 2.6.4

[2018-05-24 17:35] #116 closed

[2018-05-25 08:51] jkasten2 commented on #112
@fadiloutf Just to confirm, updating to 2.7.2 of the OneSignal SDK fixed your issue? If not please make sure to follow these steps.
1. Updated version of Unity
   - Tested with `Unity 2017.4.0f1`, might work on older versions
2. Update to latest Android SDK
   - Platform-Tools 27+
   - Build Tools 27+ (Without 28.0.0-rc1)
3. `File` > `Build Settings..` > `Player Settings...` > `Target API Level`

[2018-05-25 08:51] #112 closed

[2018-05-28 10:04] Khaled-Almoukhtar opened #117 "How to Add Notification Extender Service in Unity"
@jkasten2
I am having the same issue described here:
https://github.com/OneSignal/OneSignal-Android-SDK/issues/280
I am using the latest Unity SDK version 2.7.2
How can I add this
https://documentation.onesignal.com/docs/android-native-sdk#section--notificationextenderservice-
in Unity without using Java
what should I write for "YOUR_CLASS_NAME"
android:name=".YOUR_CLASS_NAME"

[2018-05-29 09:57] CameronGoosen commented on #117
If you haven't already:
Click on Assests > Play Services Resolver > Android resolver > Force Resolve

[2018-05-29 09:59] CameronGoosen commented on #111
Have you been able to resolve this issue? I'm having the same error.

[2018-05-29 10:00] CameronGoosen commented on #110
@Nightsd01 can you confirm that when using the latest Onesignal that you are no longer able to build with cloud build for iOS?

[2018-05-29 10:11] Khaled-Almoukhtar commented on #117
@CameronGoosen
Thanks for the reply, but how this will fix the issue, I am talking about these steps in the documentation:

![image](https://user-images.githubusercontent.com/4400658/40652642-771213d4-6341-11e8-9af6-7feef91862af.png)

because they were suggested as the fix for this issue:
https://github.com/OneSignal/OneSignal-Android-SDK/issues/280

I do Force Resolve whenever I change, update or

[2018-05-29 10:11] HzrdIRL commented on #111
I am working on it now. According to the people at OneSignal, you can build the project in Xcode (with auto signing set On) and it will update your provisioning profile/certificates. But you'll need to export the cert from your keychain app as a .p12 and upload to Unity Cloud. I'm updating the SDK in my Unity project, then attempting a cloud build with the updated p12/provisioning profile. I expec

[2018-05-29 10:17] CameronGoosen commented on #111
@HzrdIRL Thanks for the reply.

iOS really knows how to make things difficult, please keep me updated on any progress you make 👍

Hoping for some documentation as well, this process isn't as simple as it seems and there is absolutely no help online.

[2018-05-29 10:31] HzrdIRL commented on #111
If you don't have a mac with xCode you will probably have a hard time getting this to work, since I am relying on the auto-provisioning to fix up my settings with the Apple dev portal. It is possible to do all of this without a mac, but in my experience it just makes life a lot easier... :( Apple really make things painful otherwise.

[2018-05-29 11:38] KamranMahmood opened #118 "CommandInvokationFailure: Unable to convert classes into dex format. C:/Program Files/Java/jdk1.8.0_171\bin\java.exe -Xmx2048M -"
-CommandInvokationFailure: Unable to convert classes into dex format. C:/Program Files/Java/jdk1.8.0_171\bin\java.exe -Xmx2048M -Dcom.android.sdkmanager.toolsdir="C:/Users/123/AppData/Local/Android/Sdk\tools" -Dfile.encoding=UTF8 -jar "C:\Program Files\Unity\Editor\Data\PlaybackEngines\AndroidPlayer/Tools\sdktools.jar"

-Error building Player: 2 errors -Build completed with a result of 'Failed' Un

[2018-05-29 22:36] HzrdIRL commented on #111
@Nightsd01 - Can you give us some info on how cloud builds are meant to work now? Because Unity Cloud doesn't support multiple provisioning profiles, which xCode 9 now uses for extensions/embedded apps... and we can't use xCode 8 because its older than the version you've used to build the SDK (at least I get errors when trying to build in xCode until I upgraded to 9.3, then it worked again).

So t

[2018-05-30 00:32] Nightsd01 commented on #111
@HzrdIRL we are contacting Unity to see how we can handle this extension provisioning issue for Unity cloud build.

It seems pretty silly that UCB would not support something as basic as app extensions so I’m hoping they’ll let me know a workaround.

In the mean time I would suggest uploading builds to the App Store directly from a Mac. It’s not a great solution, but it’s a better idea than removi

[2018-05-30 05:45] CameronGoosen commented on #111
@Nightsd01 Thanks for the update, cloud build is such an important feature in our testing.

Will be rolling back to OneSignal 2.5.0 and just not using Action buttons.

[2018-05-30 05:58] HzrdIRL commented on #111
@CameronGoosen I didn't think that 2.5.0 worked with UCB, how are you handling the post-build provisioning for iOS? Cheers!

[2018-05-30 06:33] CameronGoosen commented on #111
@HzrdIRL @Nightsd01 I'll explain, we did send all of this information to josh.kasten@onesignal.intercom-mail.com in January but obviously the information must have gotten lost along the way.

We have a PostProcessor that includes CLANG_ENABLE_MODULES = YES which seems to automatically tell XCode to link in the required frameworks, including the "UserNotifications.framework". Which is what was caus

[2018-05-31 04:18] pranavt7 opened #119 "Onesignal and Firebase Database don't work together"
I need Firebase Database and OneSignal to work together for my app. Whenever I import any one of them, Unity Prompts me the following -

The following obsolete files are referenced by packages in your project, would you like to delete them?
[code]

Firebase works on the UnityEditor. But when I make a build on Android, both Firebase and One Signal don't work.

Any ideas as to what might the issue b

[2018-05-31 05:26] pranavt7 commented on #119
But, the problem is there aren't any build errors. I am able to make a build, but it just doesn't seem to work in a device. Firebase and OneSignal aren't initialising on a device.(No Output)

[2018-05-31 18:33] Nightsd01 commented on #118
We have an issue template that asks for all sorts of details you did not provide....I'll be closing this issue until you can at least provide some basic info.

For example, what version of the SDK are you using? What makes you think this issue is related to the OneSignal SDK (I don't see the word OneSignal in your error message or description)...

When you provide some info, if it is related to th

[2018-05-31 18:33] #118 closed

[2018-05-31 18:36] Nightsd01 commented on #117
"YOUR_CLASS_NAME" is the name of whatever class you create that extends the `NotificationExtenderService`. This name is created by you.

Using the correct class name here should resolve your problem.

[2018-05-31 18:36] #117 closed

[2018-05-31 18:41] Nightsd01 commented on #111
We did some research and it turns out Unity's cloud build service does not support extensions _at all_. Their cloud build system will not let you sign or provision extensions correctly, like the iOS notification extension service.

As a result, we have added preprocessor checks in our build script (#120) to fix this problem.

Unfortunately, the Extension Service is required for several things:
1.

[2018-05-31 18:41] #111 closed

[2018-05-31 18:46] Nightsd01 commented on #119
I don't really understand what you mean when you say "it doesn't work".

When you say OneSignal specifically doesn't work, what happens? Can you please post a link to a full logcat from at least the first 10 seconds of your app running? Even without errors we can usually see something.

Please make sure to set the OneSignal log level to `verbose`

[2018-06-01 11:08] oliveriobw commented on #64
Seeing this on Android 030901

[2018-06-04 09:12] nkls2000 opened #122 "App Groups not enabled by default"
Could you please enable "App Groups" capability for both the main app target as well as the OneSignalNotificationServiceExtension target in the iOS postbuild script?
As name "group.{bundle_id}.onesignal" would be great.

[2018-06-04 14:30] Argurth commented on #119
We spotted a similar problem after updating our SDK to manage GDPR consent. Before the update, everithing is fine. After updating only the OneSignal SDK (from 2.6.4 to 2.7.2), everything is still working fine in the editor, but Firebase won't init anymore, without throwing any exception. Maybe it's related to "Now supports FCM (Firebase Cloud Messaging) library"

[2018-06-04 14:31] Argurth commented on #119
We spotted a similar problem after updating our SDK to manage GDPR consent.

Before the update, everything is fine. After updating only the OneSignal SDK (from 2.6.4 to 2.7.2), everything is still working fine in the editor, but Firebase won't init anymore, without throwing any exception. Maybe it's related to "Now supports FCM (Firebase Cloud Messaging) library"

[2018-06-04 14:35] Argurth commented on #119
We spotted a similar problem after updating our SDK to manage GDPR consent. Before the update, everything was working fine.

After updating only the OneSignal SDK (from 2.6.4 to 2.7.2), everything is still working fine in the editor, but Firebase won't init anymore on Android, without throwing any exception.

Maybe it's related to "Now supports FCM (Firebase Cloud Messaging) library" of the 2.7.0

[2018-06-05 14:59] Russel1 opened #123 "Firebase Cloud Messaging Crash: RegistrationIntentService not found"
My App crashed with this error log on One Signal Unity (Android) v.2.7.2 :

06-05 15:24:40.067: E/firebase(25458): Java class com/google/firebase/messaging/cpp/RegistrationIntentService not found.  Please verify the AAR which contains the com/google/firebase/messaging/cpp/RegistrationIntentService class is included in your app.

I also use Firebase Auth and Database sdk for the app.

Build with Un

[2018-06-05 15:07] Russel1 commented on #119
similar problem here:
https://github.com/OneSignal/OneSignal-Unity-SDK/issues/123

[2018-06-07 05:32] atraver opened #124 "xcodebuild fails when signing OneSignalNotificationServiceExtension.appex"
**Description:**

xcodebuild fails to code sign the OneSignalNotificationServiceExtension.appex extension after upgrading past version 2.7.0.

**Environment**

1. OneSignal SDK v2.7.2
2. Facebook
Google Play
LunarConsole
3. This issue only occurs on iOS

**Steps to Reproduce Issue:**

We use Jenkins to build our project. During the xcodebuild phase of the project, which looks like this...
[code]
.

[2018-06-07 11:20] Argurth commented on #119
Removing the depency isn't enough, however, it works if it is remplaced with this one :

<androidPackage spec="com.google.android.gms:play-services-gcm:[10.2.1, 12.1.0)" />

I think it should work as a temporary fix until OneSignal fix the problem

[2018-06-07 12:19] ilterbilguven commented on #124
I'm having the same issue. Can't build with jenkins using v2.7.2

[2018-06-07 15:44] jbmtpl-amit commented on #25
It was working before, suddenly from past few days it stop working. After checking log I found that push token I am getting is null.

[2018-06-07 17:19] jkasten2 commented on #25
@jbmtpl-amit Can you check the logcat on the device for any errors? See this guide to get this log.
https://documentation.onesignal.com/docs/troubleshooting-android#section-how-to-get-a-crash-or-error-log-from-an-android-device

Also please provide other details such as Unity version, OneSignal SDK version, and any other plugin in your project. I also recommend testing with a new Unity project to

[2018-06-07 18:05] jkasten2 commented on #109
@pandailing I am not able to reproduce this issue with a new Unity project on Unity 2017.4.0f1 and the SDK versions you specified. I added the FB SDK first followed by OneSignal and tried changing platforms to both iOS and Android. Facebook > Edit Settings opens without fail each time.

Can you provide exact steps you took to reproduce the issue? And / Or provide a link to your example Unity proje

[2018-06-07 19:38] Nightsd01 commented on #124
@atraver this would be a Jenkins provisioning issue. Our SDK automatically adds a push notification extension service during the build. This allows your app to have rich notifications (images, buttons, etc) as well as badge increment/decrement logic.

I would suggest reading this article. It’s talking about a WatchKit extension, but in principle, signing any appextension will be the same (includin

[2018-06-07 19:38] #124 closed

[2018-06-07 19:40] #122 closed

[2018-06-08 02:13] pandailing commented on #109
1. i create a new project at my Unity 2017.4.0f1
2. i import Facebook SDK and get some setting done (like App ID and the others)
3. i import OneSignal SDK

the facebook >edit setting is freeze when i open it

my project: https://drive.google.com/file/d/1Sm2c3NUgkOVog3JRKW94zdE3BpG-rWF9/view?usp=sharing

[2018-06-08 12:04] Tvarosh commented on #57
Hi,
i can confirm that this issue is happening for us in Unity SDK version 2.7.0.
We are using push notification title: :gift: LUXURY CHESTS IN ARENA :gift:

OverflowException: Value was either too large or too small for a character.
System.Convert.ToChar (System.Int32 value) (at <5a4d758c5fd24cfd9ed20c8737538cf6>:0)
OneSignalPush.MiniJSON.Json+Parser.get_PeekChar () (at <c6c053d011314e2698e8b1ad4

[2018-06-08 19:12] jkasten2 commented on #57
@Tvarosh Thanks for reporting. I was able to reproduce the issue with the `MiniJSON` library the OneSignal SDK uses with the following code example
[code]

[2018-06-08 19:55] jkasten2 commented on #109
@pandailing Thanks for the project. I opened it and selected Facebook > Edit Settings and was able to change it's settings without any issues.

Are you not seeing the settings or are you seeing it but not able to type in the edit box such as the App Id?
![image](https://user-images.githubusercontent.com/645861/41178113-24e411f2-6b1b-11e8-94d4-630c849ff3c0.png)

If your not seeing this inspector ta

[2018-06-12 00:49] jkasten2 commented on #64
@oliveriobw Can you provide a stacktrace like Thina's above? The line number should have changed and will need this to help hunt down your issue.

[2018-06-12 01:22] Nightsd01 commented on #122
Hi @nkls2000 , thanks for bringing this up! We've edited our postbuild script to automatically add the app group (#120). It will be featured in the next release - sometime in the next day or two.

[2018-06-12 08:53] CameronGoosen commented on #110
Thanks @jkasten2 , eager to try out the new changes.

[2018-06-16 17:03] edencakir opened #125 "OneSignal SDK 2.7.2 Unity Cloud Build Fails"
**Description:**
iOS cloud build fails with the latest version of this SDK.

**Environment**
1. What version of the Unity OneSignal SDK are you using?
2.7.2
2. Provide a list of your project dependencies
OneSignal
VoxelBusters Plugin
3. Does the issue occur only in iOS, Android, etc?
Only iOS

**Steps to Reproduce Issue:**
  1. Import the latest OneSignalSDK.unitypackage (2.7.2) into your project

[2018-06-28 04:38] Nightsd01 commented on #125
Hi @edencakir

Sorry for the delay, we've been busy due to iOS 12/wwdc.

Can you tell me if this issue still occurs for you in our new release (2.7.3)?

Also, are you using Mono or IL2CPP?

[2018-06-28 04:39] Nightsd01 commented on #123
Hi @Russel1 ,

Sorry for the delay in getting back to you, can you confirm if this issue still occurs in 2.7.3?

[2018-06-29 05:04] Nightsd01 commented on #109
Closing issue due to no response @pandailing, assuming you managed to fix it. If not please feel free to respond to the previous post and we’ll be happy to reopen and help investigate

[2018-06-29 05:04] #109 closed

[2018-06-29 10:31] Hilson8 opened #129 "OneSignal 2.7.3 Unity Package doesn't include Plugin/Android folder"
**Description:**

When importing the 2.7.3 Unity Package it's missing the Plugins/Android folder from previous version (such as 2.7.2)

**Environment**

1. Unity Plugin Version 2.7.3
2. Blank Project
3. Android Only
Unity version 2017.2.0f3

**Steps to Reproduce Issue:**

1. Open a new Unity Project
2. Import the latest OneSignalSDK.unitypackage into your project
3. See missing Plugins/Android fil

[2018-06-29 10:46] Hilson8 opened #130 "When updating to 2.7.3 for android, you receive an 'ERROR Missing Google Project number!' message"
**Description:**

When updating from 2.7.2 to 2.7.3 and do an Android build, you receive an error message on initialise of the plugin on device.
Same code used to work fine on 2.7.2 for Android, it's only since updating to 2.7.3.

**Environment**

1. Onesignal version 2.7.3
2. Blank Project with 2.7.3 included and Plugins/Android included from previous version (such as 2.7.2)
3. Android Only

**St

[2018-06-29 12:43] Russel1 commented on #123
yes it still occurs in 2.7.3.

[2018-06-29 12:43] Russel1 commented on #119
it still occurs in 2.7.3.

[2018-06-29 21:01] jkasten2 commented on #123
@Russel1 Can you provide an example Unity project reproducing the issue? There are a number of factors that could create this error such as proguard setting and we haven't been able to reproduce this issue.

[2018-06-30 02:22] Nightsd01 commented on #129
@Hilson8 fixed in the new release (2.7.4), it was a permissions issue with our build script that caused the plugins folder to be left out of the unity package. Thanks for posting the issue!

[2018-06-30 02:22] #129 closed

[2018-06-30 02:32] Nightsd01 commented on #125
Closing issue due to no response. Please let me know if you’re still having this issue in 2.7.4 with UCB, if so I’ll be happy to re-open & investigate

[2018-06-30 02:32] #125 closed

[2018-06-30 11:20] Hilson8 commented on #130
@Nightsd01 Just tested with 2.7.4 in a clean project and seems to be fixed.
Thank you for the prompt response.

[2018-06-30 11:20] #130 closed

[2018-07-06 18:10] Nightsd01 commented on #123
Closing due to no response - assuming you managed to fix the crash?

If not - please feel free to respond and we'll be happy to reopen and help investigate.

[2018-07-08 20:08] Saoish commented on #119
I have encountered the same problem. Furthermore, I found that Google Sign-in and Twitter Login SDK no longer work as long as I have OneSignal SDK integrated into the project.

[2018-07-09 06:35] epsmarkh opened #131 "Builds fail with xcode beta for iOS 12"
**Description:**

When trying to build for iOS 12 with the xcode beta, the build fails with the following:

error: Cycle in dependencies between targets
'OneSignalNotificationServiceExtension' and 'Unity-iPhone'; building
could produce unreliable results.
Cycle path: OneSignalNotificationServiceExtension → Unity-iPhone →
OneSignalNotificationServiceExtension
Cycle details:
→ Target 'OneSignalNotif

[2018-07-09 19:53] jkasten2 commented on #119
All the files under `Assets/PlayServicesResolver/` should have version 1.2.75.0 or higher such as `Google.JarResolver_v1.2.75.0.dll`. There was a recent update that fixes issues with the wrong .aar files being downloaded in the `Assets/Plugins/Android/` folder when there are a number of plugins requiring versions above and below version 15 of Firebase and GMS. The OneSignal 2.7.4 SDK includes this

[2018-07-11 22:06] yo0n commented on #119
Hi, we're having similar issues with OneSignal SDK. With OneSignal integrated, it seems that Firebase don't initialize. We've tested before integrating the SDK, after integrating the SDK and after removing the SDK.

When integrating OneSignal, we followed the Unity Setup Guide from OneSignal Docs and the reimport checklist that @jkasten2 mentioned it earlier. We made sure that we run Assets>PlaySe

[2018-07-11 22:47] j4hangir commented on #125
We still have the issue with 2.7.4.

[2018-07-12 05:13] Russel1 commented on #119
I have the same issue "RegistrationIntentService not found"

https://github.com/OneSignal/OneSignal-Unity-SDK/issues/123

[2018-07-12 22:12] Tonieh commented on #123
Hi, I got the exact same problem. I installed the latest versions of OneSignal, Firebase, GoogleAds and Unity IAP. I got the error when I want to send a custom Event to Firebase Analytics.
My editor version is 2018.2

[2018-07-13 18:21] reigota commented on #123
The same here.. OneSignal + Firebase is not working

[2018-07-13 20:12] jkasten2 commented on #123
@Tonieh @reigota Can you provide more details on when your app crashes? Does it happen on startup or when you receive a notification?

Which Firebase version and `.unitypackages` did you import into your project?

[2018-07-13 20:31] reigota commented on #123
OneSignal 2.7.2
Firebase 5.1.0

My problem is exactly as the first post:

Java class com/google/firebase/messaging/cpp/RegistrationIntentService not found. Please verify the AAR which contains the com/google/firebase/messaging/cpp/RegistrationIntentService class is included in your app.

And happens when I try to send a firebase custom event. All automatic events in firebase are working fine. Sear

[2018-07-13 22:22] Tonieh commented on #123
OneSignal 2.7.4
Firebase 5.1.1
I got the same problem as @reigota, OneSignal and the Firebase automatic events works fine... the error is when I try to send a custom event with Firebase.

When I uninstall OneSignal, Firebase custom events work as expected.

[2018-07-17 19:21] RyuMaster opened #132 "DirectoryNotFoundException when building for iOS"
Latest Unity and 2.7.4, when building for iOS, gives:

DirectoryNotFoundException: Could not find a part of the path

"G:\xxx\Assets\OneSignal\Platforms\iOS\Info.plist".

Like, looking it totally different place. Is that just me?

[2018-07-17 19:37] macczakdeveloper opened #133 "Again java.lang.ClassNotFoundException: com.onesignal.OneSignalUnityProxy"
**Description:**

GRADLE BUILD (Internal Build Works well)

Logcat says:

**Environment**

1. What version of the Unity OneSignal SDK are you using?
Newest Version
2.7.4 Release
@Nightsd01 Nightsd01 released this 18 days ago

2. Provide a list of your project dependencies
OneSignal
Startapp
NDK with game
3. Does the issue occur only in iOS, Android, etc?
Android

**Steps to Reproduce Issue:**
  1.

[2018-07-18 21:40] jkasten2 commented on #133
@macczakdeveloper The missing `OneSignalUnityProxy` class would mean `onesignal-unity.aar` is not being built into your APK or if you have multidex on that it isn't loading this class.

Can you answer the following questions about your environment and build setup?
1. Are you building from Unity or are you exporting from Unity and building with Gradle / Android Studio?
2. Is the `build.gradle` gene

[2018-07-20 17:02] willispinaud commented on #123
+1
We are also in the incapacity of logging custom event in Firebase due to the interaction with OneSignal as presented in this thread.

[2018-07-20 21:56] EmilAlipiev commented on #35
Does it work with having 2 applications tag? is it even legit?

[2018-07-23 17:58] Nightsd01 commented on #133
Assuming that you managed to fix the issue since you did not respond, closing the issue. If you're still having this problem please feel free to respond and we'll be happy to reopen and help investigate.

[2018-07-23 17:58] #133 closed

[2018-07-23 17:58] Nightsd01 commented on #132
Assuming that you managed to fix the issue since you did not respond, closing the issue. If you're still having this problem please feel free to respond and we'll be happy to reopen and help investigate.

[2018-07-23 18:34] RyuMaster commented on #132
Hi! Sorry for being away. I am creating my build on Windows, it appears in there. Started to happen just recently, I used OneSignal building on Windows before without any issues.

[2018-07-23 18:44] Nightsd01 commented on #132
@RyuMaster How are you building iOS in Windows?

[2018-07-24 07:40] RyuMaster commented on #132
I am exporting xCode project and building it on iOS. That is a typical stuff for Windows-users. This error happens during the export phase, nearly the very end.

[2018-07-26 23:22] Nightsd01 commented on #132
@RyuMaster Is that an exact copy and paste of the error, or did you add the X's? If so, can you post the full error?

[2018-07-30 05:16] sai12346 opened #134 "OneSignal is not working with Admob plugin in phonegap build"
Hello,

OneSignal is not working with Admob plugin in phonegap build .But it both work successfulyy separate.
OneSignal-Cordova-Example-mastertest.zip

Issue :same player id is getting for each installation(and this playerid is not valid).But after removing admob plugin we get different player id for each instalation.please helpppppppp

[2018-07-30 05:17] sai12346 commented on #134
[OneSignal-Cordova-Example-mastertest.zip](https://github.com/OneSignal/OneSignal-Unity-SDK/files/2239752/OneSignal-Cordova-Example-mastertest.zip)

[2018-07-30 14:01] DmitriyYukhanov commented on #132
I have same error while making iOS build to XCode from Unity while doing this on Mac:

DirectoryNotFoundException: Could not find a part of the path "/Users/admin/Desktop/Rostelecom/Assets/OneSignal/Platforms/iOS/Info.plist".

That's because I moved OneSignal folder to the
/Users/admin/Desktop/Rostelecom/Assets/ThirdParty/OneSignal/

This is a common issue with many Unity Assets developers - they

[2018-07-30 14:10] DmitriyYukhanov commented on #132
@RyuMaster you'll have to put OneSignal folder to the Assets root to workaround this issue until it gets fixed.

[2018-07-31 01:02] jkasten2 commented on #134
@sai12346 Thanks for reporting and providing an example project. We will try it out an report back

[2018-07-31 01:04] jkasten2 commented on #134
@sai12346 Since this is a Cordova issue I am going to close this one in favor of the other issue you opened.
https://github.com/OneSignal/OneSignal-Cordova-SDK/issues/398

[2018-07-31 01:04] #134 closed

[2018-08-01 06:01] sai12346 commented on #134
hello,

how can i change my config.xml to work my one-signal with cordova admob

On Tue, Jul 31, 2018 at 6:34 AM, Josh Kasten <notifications@github.com>
wrote:

--

*Thanks & Regards,*
*Emmymol chacko*
*Nesote Technologies Pvt Ltd.*

[2018-08-01 13:40] DmitriyYukhanov opened #135 "iOS: warning about deprecated API"
Hey,

When I try to initialize OneSignal on iOS, I get this native popup message:

Environment:

1. Unity 2017.3.1p4 (can't use newer version due to bug in Unity with html5 video in WebView)
2. OneSginal SDK 2.7.4
3. iOS 11.4
4. Everything works fine on Android.

How to reproduce:
Just setup for Unity iOS development as usual, compile build, try to initialize OneSignal.

[2018-08-01 17:33] Nightsd01 commented on #135
Hi, you can actually ignore this warning in Unity as your app won’t be depending on it to get called. We’ll be removing the warning from Unity.

[2018-08-02 09:42] DmitriyYukhanov commented on #135
Hey, @Nightsd01

Thanks, good to know!
And I just realized I saw it in native popup because I set visual debug level to Warning.
Closing this issue as it's totally harmful as it turned out.

[2018-08-02 09:42] #135 closed

[2018-08-03 06:56] AbdullahShabir commented on #68
Sir I am getting this error and I checked my plugins/andriod  folder  but did not find any issue

[2018-08-03 06:57] AbdullahShabir commented on #68
Sir I am getting this error after chartboost plugin integration

[2018-08-03 06:58] AbdullahShabir commented on #68
I did try lots of solutions but problem not solved yet.

[2018-08-03 19:06] jkasten2 commented on #68
Since Chartboost doesn't use the [unity-jar-resolver](https://github.com/googlesamples/unity-jar-resolver) and includes the Android Support v4 library directly it will conflict with most other Unity plugins that contain native Java counter parts.

You will need to delete this file to resolve the build error.
`Assets/Plugins/Android/ChartboostSDK/android-support-v4.jar`

[2018-08-06 04:17] havudk opened #136 "Unity 2017.1.3 don't support GetFrameworksBuildPhaseByTarget yet"
**Description:**

I using unity 2017.1.3. When I switch to iOS platform this error come out:
[code]
In `PostProcessBuildPlayer_iOS.cs` I saw in line 126 `#if UNITY_2017_1_OR_NEWER && !UNITY_CLOUD_BUILD`
But when I research in Unity 2017.1 document It seem not support this function yet
https://docs.unity3d.com/2017.1/Documentation/ScriptReference/iOS.Xcode.PBXProject.html
Just from Unity 2017.2 It

[2018-08-07 23:30] Nightsd01 commented on #132
@DmitriyYukhanov Our SDK includes a buildscript for iOS purely for your convenience - you can disable it if you want. I am not actually aware of a way that our build script _could_ autodetect its path if it's not at the root of the `Assets` folder - are you?

[2018-08-09 00:07] WTF-Grinch commented on #123
+1 same problem Unity 2018.1.9 + Firebase + OneSignal everything works before sending custom event

[2018-08-09 22:56] WTF-Grinch commented on #123
Firebase.Analytics.FirebaseAnalytics.LogEvent("Tournament", "Monthly", 1); Like in Doc. its working after deleting Onesignal SDK and Force Resolve

[2018-08-10 09:31] anton-nesterenko commented on #123
I solved the problem using the Firebase C++ SDK https://firebase.google.com/download/cpp

- add **firebase_messaging_cpp.aar** to the Plugins/Android directory
(path in c++ sdk package  firebase_cpp_sdk/libs/android/firebase_messaging_cpp.aar)
- add lines from **messaging.pro** file to the proguard file
(path in c++ sdk package firebase_cpp_sdk/libs/android/messaging.pro )

[2018-08-11 09:20] Umar559 opened #137 "DirectoryNotFoundException: Could not find a part of the path " Android""
**Description:**
  DirectoryNotFoundException: Could not find a part of the path "Assets\Plugins\Android\OneSignalConfig\res\drawable-xxhdpi-v11\ic_onesignal_large_icon_default.png" or "Temp\StagingArea\android-libraries\OneSignalConfig\res\drawable-xxhdpi-v11\ic_onesignal_large_icon_default.png"

System.IO.File.Copy (System.String sourceFileName, System.String destFileName, System.Boolean overwri

[2018-08-14 20:43] willispinaud commented on #119
Same problem here

[2018-08-14 23:04] Nightsd01 commented on #136
@havudk Thanks for reporting this! I've updated our iOS build script to account for this in #138

[2018-08-14 23:06] Nightsd01 commented on #137
@Umar559 The error indicates that some of your push notification icon image files are missing, the path is incorrect. Can you manually check `/Assets/....` to make sure the icon is there? If not, move the icon files there and it should fix your issue.

[2018-08-14 23:06] #137 closed

[2018-08-15 00:25] #136 closed

[2018-08-15 00:26] Nightsd01 commented on #136
Fixed the issue in #138, a new update should be released within the next week or so. In the mean time feel free to use master, it's a small fix.

[2018-08-15 07:44] Umar559 commented on #137
@Nightsd01  hi, Thanks for reply ,
 Yes i check manually icons are exist that path.. but it still give error...

[2018-08-15 19:44] Nightsd01 commented on #131
Closing due to no response - I am able to build in the Xcode beta just fine so I would assume it's an issue you've managed to solve. If you are still having this issue please feel free to respond and I'll be happy to reopen the issue and help investigate.

[2018-08-15 20:30] Nightsd01 commented on #105
@oleschaper In the past few months we've made some changes to our SDK that likely alleviate this issue. Please give it a shot and let me know if the issue still occurs

[2018-08-17 20:59] Nightsd01 commented on #105
@oleschaper Closing due to no response. A few months back we found a thread synchronization issue in our API client that likely caused this issue and it has been resolved.

If you see more heap corruption issues like this please let me know and I'll reopen the issue and investigate.

[2018-08-17 20:59] #105 closed

[2018-08-18 00:43] Nightsd01 commented on #123
It appears that simply importing the FirebaseMessaging unity package into your project fixes this issue as well

You can [download the firebase messaging unity package here](https://firebase.google.com/docs/unity/setup)

[2018-08-18 00:43] #123 closed

[2018-08-18 00:44] #132 closed

[2018-08-21 19:27] lucasmontec opened #140 "Android build multiple dex conflicts with other native libraries"
**Description:**
When using OnSignal SDK for Unity with Android Native Goodies Pro, the application fails to compile.

[code]

**Environment**
1. OneSignal 2.7.4
2. Android Native Goodies, TextmeshPro, OneSignal, GameAnalytics, Vuforia SDK
3. Android build

**Steps to Reproduce Issue:**

1. Import the latest OneSignalSDK.unitypackage into your project
2. Import Android Native Goodies or Android Na

[2018-08-23 04:07] jkasten2 commented on #119
Can you try importing `FirebaseMessaging.unitypackage` to your project from https://firebase.google.com/docs/unity/setup? I believe there is an dependency issue with `FirebaseAnalytics.unitypackage`.

[2018-08-28 07:37] maskedmouse opened #141 "Invalid PBXProj is created due to OneSignal when BuildTarget is iOS on Windows"
**Description:**

XCode could not read the project properly.
OneSignal changes the pbxproject to an invalid pbxproj.
I've tried reverting the iOS PostProcessing script as it was using `Path.DirectorySeparatorChar`
On Windows this is a backslash. That is an invalid character for a path, it should be a forwardslash.
But even after reverting, it could not find some files / directories.
Reverting back

[2018-08-28 12:52] simar88 opened #142 "In release 2.7.5 onesignalconfig folder is missing"
Please upload and update the latest archive. I solved downloading the previous version of te package and adding to Unity only the folder missing.
Thanks in advance,
Simone

[2018-08-28 22:09] jkasten2 commented on #141
@maskedmous Thanks for the details. We are looking into fixing this issue for the next release.

[2018-08-28 22:10] jkasten2 commented on #142
@simar88 Thanks for reporting, the size is definitely much smaller on this release so we will double check to make sure nothing else is missing and get a new release out soon.

[2018-08-29 01:40] jkasten2 commented on #140
@lucasmontec The `com.android.dex.DexException: Multiple dex files define` means more than one Unity plugin is a Java class. OneSignal, Firebase, Facebook, and a number of others SDKs use the [unity-jar-resolver](https://github.com/googlesamples/unity-jar-resolver) to ensure duplicates are not added to your project.

It seems that "Android Native Goodies" SDK does not use this as it is including i

[2018-09-02 16:01] sajadabasi opened #143 "add onesignal unity android sdk with source"
Hi,
I want to change few lines of android unity sdk,
I've done that in android studio via java but how can i do it with unity?
I think i should add i with source and change in it? but how?
thanks.

[2018-09-02 17:01] sajadabasi commented on #143
in fact i want to do the same thing i've done in java here:
I edited OneSignalRestClient file and add proxy setting for HttpURLConnection.

[2018-09-02 17:31] ak1320 opened #144 "Plugin Compatibly Help - Error: more than one library with package name 'android.support.coreui'"
I get this error when build my project.
`CommandInvokationFailure: Gradle build failed.
C:/Program Files/Java/jdk1.8.0_45\bin\java.exe -classpath "D:\Unity\Unity 5.6.5\Editor\Data\PlaybackEngines\AndroidPlayer\Tools\gradle\lib\gradle-launcher-2.14.jar" org.gradle.launcher.GradleMain "assembleRelease"

stderr[

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task '

[2018-09-03 10:36] gloater commented on #129
hi i got this error
FileNotFoundException: Assets/Plugins/Android/OneSignalConfig/AndroidManifestTemplate.xml does not exist
 how to resolve it plz ?

[2018-09-05 07:26] rwillett commented on #77
Hi, we've just refactored our code to handle GDPR consent and are getting this error now.

[code]

We're using
[code]

As part of the refactoring of code, we've moved anything to do with OneSignal to after we get consent from the user to store their data, if we never get any consent we never call the OneSignal registration code at all.

We have set the OneSignal debug level to 6 and nothing appear

[2018-09-06 06:58] ha-quang-vu opened #145 "In app Local Notification"
Can I use the SDK to make schedule local notifications?
Thanks!

[2018-09-06 10:27] sathyarajshetigar commented on #129
The same issue repeated in 2.7.5

[2018-09-10 07:10] imran-nadeem commented on #144
Any luck ?

[2018-09-11 08:30] takaaptech opened #146 "Google Resolver can not run with OneSignal 2.7.5, Firebase 5.2.1, & play-services-resolver-1.2.88.0+"
**Status from @jkasten2:**
Issue is is due to Google's `unity-jar-resolver`, a ticket has been opened under googlesamples/unity-jar-resolver#149 to fix this issue.
Workaround fix in PR #152, this will be included in the next release.

**Orignal message:**
Hi,
Please help, I am having a problem when trying to Force resolve

One signal 2.7.5
Unity 2017.4.4f1
Firebase Analytics 5.2.1
play-services-re

[2018-09-11 12:02] DmitriyYukhanov commented on #123
@Nightsd01 importing messaging package breaks our Plugins/Android/AndroidManifest.xml
It replaces Unity activity with own com.google.firebase.MessagingUnityPlayerActivity and kills all previous custom modifications made to the manifest (e.g. permissions and such).
This is very sad to see, but Firebase docs does not state to impost messaging to set up analytics. This is terribly wrong to import thi

[2018-09-12 04:55] takaaptech commented on #146
Here is another log trace
I try to make a small and clean project. It only has Firebase analytics, firebase messaging and one signal

Refresh: detecting if any assets need to be imported or removed ...
Refresh: elapses 0.010980 seconds (Nothing changed)
Gradle failed to fetch dependencies.

Failed to run '/Users/imac/bitbucket/CleanBuild/Temp/PlayServicesResolverGradle/gradlew -b "/Users/imac/bitb

[2018-09-12 04:56] takaaptech commented on #146
Resolution failed

Failed to fetch the following dependencies:
com.google.firebase:firebase-analytics:16.0.1
com.google.firebase:firebase-core:16.0.1
com.google.firebase:firebase-iid:[17.0.0]
com.google.firebase:firebase-analytics-unity:5.2.1
com.google.android.gms:play-services-base:15.0.1
com.google.firebase:firebase-common:16.0.1
com.google.firebase:firebase-app-unity:5.2.1
com.google.firebase:

[2018-09-13 16:41] chall3ng3r commented on #142
Still not fixed.

[2018-09-18 11:46] NumaNumaNuma opened #147 "Random crashes on various OneSignal 2.7.5 call with Unity 2018.2.8f"
**Description:**

The app crashes randomly (but very frequently) on various OneSignal calls. I found it to crash on GetPermissionSubscriptionState() and SendTag, but there might be more. It usually takes 5-10 tries to get it to crash with no error or stack trace.

**Environment**

OneSignal 2.75 release
Unity 2018.2.8f + ARKit plugin
only tested on iOS12.0
XCode 10.0

**Steps to Reproduce Issue:**

[2018-09-18 12:19] NumaNumaNuma opened #148 "iOS Postbuild process doesn't account for pre-existing entitlement files"
**Description:**

If another entitlement file is already present in the xcode project, the build setting rule just appends the OneSignal one, causing a build error due to incorrect path, eg. "file1 file2"

It should merge the files if possible.

**Environment**

OneSignal 2.75 release
Unity 2018.2.8f
iOS12.0
XCode 10.0

**Steps to Reproduce Issue:**

1. Add entitlement file and build setting rule

[2018-09-18 14:02] rohit-avara commented on #129
I am facing the same issue with OneSignal 2.7.5 and Unity 2017.1.3 . Any help will be appreciated!

[2018-09-19 03:08] jkasten2 commented on #142
@simar88 @chall3ng3r Sorry for the delay on this. The issue is now fixed in the [2.7.6 Release](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.7.6). Thanks

[2018-09-19 03:08] #142 closed

[2018-09-19 03:16] jkasten2 commented on #143
@sajadabasi The source for the native Android part used by this SDK is from the following repo
https://github.com/OneSignal/OneSignal-Android-SDK
This is the compiled file located here in the Unity project
https://github.com/OneSignal/OneSignal-Unity-SDK/blob/2.7.6/OneSignalExample/Assets/OneSignal/Platforms/Android/onesignal-unity.aar

That .aar can be rebuild from the native repo with Android St

[2018-09-19 03:16] #143 closed

[2018-09-19 03:36] jkasten2 commented on #146
@takaaptech Thanks for the full log! Looks like this might be an issue with the [Google unity-jar-resolver](https://github.com/googlesamples/unity-jar-resolver) this plugin uses. Can you try importing their latest release?
https://github.com/googlesamples/unity-jar-resolver/blob/7ae101b1262d2b0b808b38917922e6d36dce07b0/play-services-resolver-1.2.89.0.unitypackage

I recommend restarting Unity and

[2018-09-19 03:47] takaaptech commented on #146
Hi @jkasten2
I use Resolver version 1.2.89.0 already
And for easy for debug, I upload full project here for you
Thank so much for the support

https://drive.google.com/file/d/1kqTfGUUGtZ06VeShejKz7yPKEC89MoNo/view?usp=sharing

Here is the AndroidResolverDependencies content
<dependencies>
  <packages>
    <package>com.android.support:customtabs:[26.0.0, 27.2.0)</package>
    <package>com.android.s

[2018-09-19 03:54] jkasten2 commented on #146
@takaaptech Sorry, I edited my post just after I posted it and re-read you already tried updating that. Can you create an issue on their tracker?
https://github.com/googlesamples/unity-jar-resolver/issues

Some how it is trying to resolve a version that does not exists such as this one>
`com.google.android.gms:play-services-location: 12.1.0+`
This is a list of valid versions which does not include

[2018-09-19 03:58] jkasten2 commented on #148
@NumaNumaNuma Thanks for the details.

@Nightsd01 Could you look into this one?

[2018-09-19 03:59] jkasten2 commented on #147
@NumaNumaNuma Thanks for the details. Do you have an 11.x device as well? If so do you see a crash there or only with iOS 12?

[2018-09-19 04:40] jkasten2 commented on #119
@Saoish Good to hear that solved your issue. I have updated our docs to make a note of this.
https://documentation.onesignal.com/docs/unity-sdk-setup#section-3-android-setup

It seems you must import `FirebaseMessaging.unitypackage` if you use **any** Firebase Unity plugins.

@stewartmiles
I have tried reporting this compatibility issue to Firebase Support but they noted to me that it is out of th

[2018-09-19 04:42] jkasten2 commented on #140
Closing due to inactivity. Let us know if the above did not help with this specific issue. Thanks.

[2018-09-19 04:42] #140 closed

[2018-09-19 04:51] jkasten2 commented on #141
Additional details on the fix, [PostProcessBuildPlayer_iOS.cs](https://github.com/OneSignal/OneSignal-Unity-SDK/tree/2.7.6/OneSignalExample/Assets/OneSignal/Editor/) needs to be updated to use the Unix directory separator when it is modifying the plist and xcode project files.

[2018-09-19 04:55] c00piser commented on #146
@takaaptech I am having the same exact problem. It keep complain about version 12.1.0+. Did you get it resolve ?

[2018-09-19 04:55] jkasten2 commented on #146
@takaaptech I haven't, but I believe the issue is due to the unity-jar-resolver. Reply back here if they need more help on the issue and I can jump in.

[2018-09-19 06:10] takaaptech commented on #146
@c00piser Not yet, I will post back here if we have a solution for this.

[2018-09-19 11:13] epsmarkh commented on #131
I didn't see the request for more information but there isn't any. We import the SDK into a new empty project, build and get the error. We don't have any other files than those imported from the onesignal package so no we are not importing it elsewhere in our project.

[2018-09-20 07:02] epsmarkh commented on #131
This can be worked around by switching xcode to use the old build system as described here:

https://help.apple.com/xcode/mac/current/#/dev396bc94c7

This is however an extra manual step in xcode so no use for continuous integration and automated builds so not suitable to use long term.

We are now using the XCode 10 release and still have the issue.

[2018-09-20 11:04] altaf-lsg commented on #131
Even we faced the same problem, solved it by following epsmarkh comments.
any solution for the new build system coming up?

[2018-09-20 18:37] agrobost commented on #146
Same for me with onesignal and admob

[2018-09-20 18:45] Nightsd01 commented on #148
@NumaNumaNuma Thanks for pointing this out, we've resolved this in a recent PR (#150) and will be releasing an update shortly

[2018-09-20 18:47] Nightsd01 commented on #141
Thanks for reporting this and sorry for the delay in getting to it. We've merged a PR (#150) to fix this issue and will be releasing an update soon

[2018-09-20 20:03] nikomikulicic opened #151 "Badge number does not get increased"
**Description:**
Badge number does not get increased and is always 1. Exactly like this issue here:
https://github.com/OneSignal/OneSignal-iOS-SDK/issues/392 but with UnitySDK, instead of iOS.

✅ Added the notification service extension, and set up an app group for app (group.bundleId.onesignal).
✅When sending notification through dashboard, I've selected "increase by 1" option. Notification is su

[2018-09-21 01:42] jkasten2 commented on #146
@takaaptech I was able to reproduce the issue locally. It is due to some bugs introduced with `play-services-resolver-1.2.88.0` with some specific scenarios, I have updated the title to include this.

I have created PR #152 to fix this compatibility as a work around, and have created issue https://github.com/googlesamples/unity-jar-resolver/issues/151 on the Google's repo to fix the root of the is

[2018-09-21 07:02] agrobost commented on #146
Thank you very much, that works !

Le ven. 21 sept. 2018 à 03:42, Josh Kasten <notifications@github.com> a
écrit :

[2018-09-21 14:45] Wolar commented on #131
Same problem here on the production Xcode 10. We are not importing NotificationExtension.h anywhere else in the project, I have just checked that. Is there anything I can provide to help reproduce and fix the issue?

[2018-09-21 20:15] #146 closed

[2018-09-22 10:06] takaaptech commented on #146
@jkasten2 Thanks!

[2018-09-22 17:52] theDrGray commented on #131
Same here.

[2018-09-22 19:50] studentutu commented on #40
@arodus also, with new Unity 2018: ProjectCapabilityManager no longer has close() method (use capManager.WriteToFile();). It would be helpful if someone could make a tutorial on how to add Entitlements with XcodeApi...

[2018-09-23 21:35] agrobost commented on #146
Hello I found a small mistake in your code :
Call OneSignal.UserDidProvideConsent(consent == ConsentStatus.Granted);
before Onesignal has been initilized return an error.
Correction
                var consent = GetApplicableDataPrivacyConsent();

                // Init OneSignal.

OneSignal.StartInit(EM_Settings.Notifications.OneSignalAppId)
                .SetRequiresUserPrivacyConsent(consent

[2018-09-23 21:36] agrobost commented on #146
var consent = GetApplicableDataPrivacyConsent();
                OneSignal.SetRequiresUserPrivacyConsent(true);

                // Init OneSignal.

OneSignal.StartInit(EM_Settings.Notifications.OneSignalAppId)
                .SetRequiresUserPrivacyConsent(consent ==
ConsentStatus.Granted)

.HandleNotificationReceived(sListener.OnOneSignalNotificationReceived)

.HandleNotificationOpened(sListener

[2018-09-23 21:42] agrobost commented on #146
You can also add in trouble shooting:
https://forum.unity.com/threads/unity-application-id-must-be-a-numeric-value-please-verify-that-your-manifest-refers-to-the-correct.544070/
Google play crash with last unity version

Le dim. 23 sept. 2018 à 23:36, Alexandre gbst <alexandre.grobost@gmail.com>
a écrit :

[2018-09-23 21:50] agrobost commented on #146
je suis fatigué, j'ai écris trop vite, la bonne correction est :

                var consent = GetApplicableDataPrivacyConsent();
                if (consent != ConsentStatus.Unknown)
                {
                    OneSignal.SetRequiresUserPrivacyConsent(true);
                }

                // Init OneSignal.

OneSignal.StartInit(EM_Settings.Notifications.OneSignalAppId)

.HandleNotif

[2018-09-23 21:51] agrobost commented on #146
je suis fatigué, j'ai écris trop vite, la bonne correction est :  == I am
tired, I write too quickly, the correct correction is

Le dim. 23 sept. 2018 à 23:50, Alexandre gbst <alexandre.grobost@gmail.com>
a écrit :

[2018-09-23 22:02] agrobost commented on #146
or shorter
                var consent = GetApplicableDataPrivacyConsent();

                // Init OneSignal.

OneSignal.StartInit(EM_Settings.Notifications.OneSignalAppId)
                .SetRequiresUserPrivacyConsent(true)

.HandleNotificationReceived(sListener.OnOneSignalNotificationReceived)

.HandleNotificationOpened(sListener.OnOneSignalNotificationOpened)
                .InFocusDisplayi

[2018-09-24 18:39] jkasten2 commented on #146
@agrobost Your code can be simplified, the OneSignal SDK remembers if you called `UserDidProvideConsent(true)` so you don't need to track and set this on each cold start of your app.

[code]
https://documentation.onesignal.com/docs/unity-sdk#section--setrequiresuserprivacyconsent-

If you have follow up questions please [open a new issue](https://github.com/OneSignal/OneSignal-Unity-SDK/issues/new

[2018-09-24 20:02] agrobost commented on #146
Sorry bad destination

Le lun. 24 sept. 2018 à 20:39, Josh Kasten <notifications@github.com> a
écrit :

[2018-09-25 10:47] agrobost commented on #146
Thank you for these explanations. Is it possible to set UserDidProvideConsent to false after initialization?
For example:

[code]

Or it only takes effect at oneSignal initialization ?

[2018-09-25 16:07] stewartmiles commented on #119
@jkasten2 our code that auto-initializes parts of the C++ library enables Firebase Messaging initialization when the com/google/firebase/messaging/FirebaseMessaging is included in an application.  This is unfortunate as we also have a dependency upon the com.google.firebase.messaging.cpp package shipped with the C++ and Unity SDKs, when that is missing Firebase messaging initialization fails, thro

[2018-09-25 16:47] bhallionOhbibi commented on #131
Same issue, looking forward a proper fix solution.

[2018-09-25 18:09] Nightsd01 commented on #151
@nikomikulicic If you remove your own post build script, do badges/images work properly?

It's _definitely_ a problem with your notification service extension if both badges and images aren't working correctly.

[2018-09-25 18:11] Nightsd01 commented on #151
Also, in the project Unity generates, can you verify that the OneSignalNotificationServiceExtension is being embedded properly in your main app?

![binary](https://user-images.githubusercontent.com/8186991/46033751-c618e780-c0b3-11e8-8807-809da414ab2f.jpg)

[2018-09-25 18:40] aresundnes commented on #131
Same here!

[2018-09-25 22:29] jkasten2 commented on #146
@agrobost `SetRequiresUserPrivacyConsent` was added to help make GDPR easier. You should NOT call `OneSignal.UserDidProvideConsent(true);` directly after init unless the user has already accepted your privacy policy.

If you have a way for the user to revoke their acceptance for any reason you can call
`OneSignal.UserDidProvideConsent(false);` as you have noted with your `UserWithdrawsHisConsent`.

[2018-09-25 22:49] jkasten2 commented on #119
@stewartmiles Ah, was thinking that fixing the Firebase C++ library to look for presents of the C++ class `com.google.firebase.messaging.cpp` instead of the Java class `com/google/firebase/messaging/FirebaseMessaging` would fix the issue but C# check sounds like it will work too.

Thanks for reporting back and prioritizing! This will be a great fix to improve stability between SDKs!

[2018-09-25 23:41] Nightsd01 commented on #131
I am unable to reproduce this issue with either a brand new project or our existing OneSignal Unity SDK project

@aresundnes @theDrGray @bhallionOhbibi Can you post the following details to help fix the issue:

In the iOS project, in the `Unity-iPhone` folder (or your project name), post the `Unity-iPhone.entitlemnents` file. Also please post your `OneSignalNotificationServiceExtension/OneSignalNo

[2018-09-25 23:43] Nightsd01 commented on #131
Lastly, are all of you using the public Xcode 10 release, or are you using a beta? Do you have your Bundle ID properly configured in Unity?

[2018-09-26 05:31] aresundnes commented on #131
I'm in the public xcode release and everything works fine if i chose the legacy build system as mentioned by @epsmarkh

I have no OneSignalNotificationServiceExtension.entitlements file in the project, so that might be the reason?

![image](https://user-images.githubusercontent.com/1391113/46058925-49dade80-c15d-11e8-9993-23f8d787e86b.png)

![image](https://user-images.githubusercontent.com/139111

[2018-09-26 17:36] oddgames-david opened #153 "Prevent AndroidManifest.xml in OneSignalConfig folder from being written all the time"
OneSignalEditorScriptAndroid.cs continually writes the AndroidManifest.xml, it needs a check to make sure the file doesn't need to be written again or instead of InitializeOnLoad it should use an asset post processor that only runs when AndroidManifestTemplate.xml is being modified.

[2018-09-26 18:18] Nightsd01 commented on #147
Closing due to no response

[2018-09-26 18:18] #147 closed

[2018-09-26 18:18] Nightsd01 commented on #144
Closing due to no response - please reply if you're still having this issue and we'll be happy to reopen + investigate.

[2018-09-26 18:18] #144 closed

[2018-09-26 20:34] hectorllanosSBM opened #154 "[iOS] xcodebuild archive fails"
**Description:**
Unable to archive the application due to Capability not found for AppGroup and PushNotification

**Environment**
OneSignal SDK 2.7.6
Xcode 10
OSX 10.14

`+ xcodebuild -project /Users/Shared/Jenkins/workspace/APPNAME/Develop/iOS/APPNAMEDevelop//iOS/Unity-iPhone.xcodeproj -scheme Unity-iPhone -configuration Release clean archive -archivePath /Users/Shared/Jenkins/workspace/APPNAME/D

[2018-09-26 20:55] hectorllanosSBM commented on #154
If I run xcodebuild archiving the ipa just doesn't work. it always fails on codesigning. but when I manually archive from Xcode -> Product -> Archive it works. But I have to turn off then on AppGroups and Push Notifications. Is there something I am doing wrong?

[2018-09-26 21:00] jkasten2 commented on #153
@oddgames-david Thanks for reporting, we are most likely creating `OneSignalConfig /AndroidManifest.xml` more often than needed. We are doing so on `InitializeOnLoad` as we need to make sure this is run when switching to the Android platform in the Unity settings as well as anytime the Package name is change under the Android Player settings.

Is this creating any issue for you currently?

[2018-09-27 00:09] hectorllanosSBM commented on #154
<img width="1086" alt="screen shot 2018-09-26 at 5 08 30 pm" src="https://user-images.githubusercontent.com/25936767/46116033-e24d7f00-c1ae-11e8-988b-394cea0a2e57.png">

Are the Capabilities need to be on the app, or on the extension?

[2018-09-27 01:37] Nightsd01 commented on #154
@hectorllanosSBM the entitlements just need to be on the app. You should have just one entitlements file and it should be the same name as your target (`Unity-iPhone.entitlements` in this case).

Can you try removing `develop.entitlements` from build settings (you’d remove it from the same location in the screenshot you showed me) and see if that builds? I have no idea why that is getting added to

[2018-09-27 03:16] oddgames-david commented on #153
Yes, almost every time I need to commit to version control I've got to discard this file.

[2018-09-27 03:56] hectorllanosSBM commented on #154
So I completely restarted: Reinstalled the latest Unity plugin. Deleted all the Profiles and Certs from Apple Dev portal. I followed the steps in the OneSignal setup guide and manually created the the necessary Certs, and added Push Notification to the App ID.

When I do a clean build from Unity, I get the following error
<img width="741" alt="screen shot 2018-09-26 at 8 51 00 pm" src="https://use

[2018-09-27 04:03] Nightsd01 commented on #154
Can you try doing what I asked above and see if you can build?

Also, after following those steps, can you send the contents of `Unity-iPhone.entitlements`?

[2018-09-27 04:04] hectorllanosSBM commented on #154
If I delete the develop.entitlements the errors under push still exist, but I am able to build. I failed to mention that I am using Unity 2018.2.9f1.

[2018-09-27 04:07] hectorllanosSBM commented on #154
Here is the entitlements

[entitlements.zip](https://github.com/OneSignal/OneSignal-Unity-SDK/files/2422443/entitlements.zip)

[2018-09-27 04:09] hectorllanosSBM commented on #154
Here are the entitlements
[entitlements.zip](https://github.com/OneSignal/OneSignal-Unity-SDK/files/2422452/entitlements.zip)

[2018-09-27 04:21] justinkmai opened #155 "Xcode project doesn't open after building from Unity"
**Description:**

After building a project from Unity, attempting to open the project in Xcode causes it to immediately crash. On Android the plugin works perfectly fine. I also tested by removing the OneSignal plugin and rebuilding the project and it opens in Xcode without issue.

**Environment**

1. OneSignal SDK 2.7.6
2. Xcode 10 (10A255)
3. OSX 10.14

**Steps to Reproduce Issue:**

1. Build pr

[2018-09-27 08:38] epsmarkh commented on #155
We are seeing the same problem too in one of our projects but not others. We have had to revert to an older SDK for this project until it is fixed.

[2018-09-27 13:04] justinkmai commented on #155
@epsmarkh what version are you currently using for the one without issues?

[2018-09-27 18:31] Nightsd01 commented on #155
Yeah.....if Xcode _itself_ is crashing, that's an issue with Xcode, even if downgrading our SDK fixes it.

[2018-09-27 18:31] #155 closed

[2018-09-27 18:44] hectorllanosSBM commented on #154
I commented out the following lines: `         //project.AddFile(relativeDestination, entitlementFileName);
         //project.AddBuildProperty(targetGUID, "CODE_SIGN_ENTITLEMENTS", relativeDestination);`

It builds, however the game immediately crashes when I init OneSignal

[2018-09-27 19:57] nikomikulicic commented on #151
@Nightsd01 , thank you for the response. I can confirm that OneSignalNotificationServiceExtension is embedded properly in main app.

Regarding removing my build script, I currently can't find an easy way to do it as there are other dependencies my project relies upon. Also, we are currently in a pre-release mode so I don't have time to try things out. I'll get back to you in couple of days if that

[2018-09-27 21:29] jkasten2 commented on #153
That is odd, since the contains shouldn't be changing it should be picked up by a source control system. Git and SVN only look for byte changes in the file, not modified times. Which version control system do you use?

[2018-09-28 12:16] edencakir commented on #131
@epsmarkh thanks for the work around. I guess Onesignal is not yet compatible with Xcode's new build system. @Nightsd01 everything was ok until we update our XCode, and with that workaround, we're able to build our apps without issues.

[2018-10-01 10:51] shutodev commented on #148
@Nightsd01 A similar problem is occurring in my environment.

**Environment**
- OneSignal 2.7.6 release + 00cd919 + f60a36a
- Unity 2018.2.6f1
- iOS 11.4
- Xcode 9.4.1

And PR #150 looks insufficient to solve this problem.
I actually tried to merge those commits into my branch, but the build error was still ongoing.

The cause of the build error is as follows: If the entitlements file already exis

[2018-10-01 19:14] Nightsd01 commented on #154
I was doing some testing and I was also able to reproduce a related App Group issue.

I've submitted a bug report to Apple: https://bugreport.apple.com/web/?problemID=44916696

[2018-10-02 15:30] ak1320 commented on #144
Hey, thank you for reply.
I'm also using Facebook, Google mobile ads plugin.

i was opened my project, look in plugin folder and there is no same jar file.
after that imported one signal's lastest plugin and I getted this new error:

CommandInvokationFailure: Gradle build failed.
C:/Program Files/Java/jdk1.8.0_45\bin\java.exe -classpath "D:\Unity\Unity 5.6.5\Editor\Data\PlaybackEngines\AndroidPlay

[2018-10-02 23:38] jkasten2 commented on #144
@ak1320 Can you reproduce the issue in a new project with Facebook, Google mobile ads plugin, and OneSignal? Make sure you are using the latest version of each in your project.

The file names of the .jar and .aar may not be exactly the same but could contain the same Java classes. If you can list all of them in your project we can take a look to see if we notice any possible duplicates here.

[2018-10-03 11:42] saudahmedsaud commented on #123
I have found the solution without importing Firebase messaging package.
1. After updating OneSignal SDK comment the following line from OneSignalDependencies.xml.
 <androidPackage spec="com.google.firebase:firebase-messaging:[10.2.1, 12.1.0)"/>

Thanks

[2018-10-03 17:58] stewartmiles commented on #119
@jkasten2 we've fixed the issue in the 5.3.1 SDK release.
https://firebase.google.com/support/release-notes/unity

[2018-10-03 19:02] jkasten2 commented on #123
@saudahmedsaud Commenting that xml line out will fix the error but it will also prevent the OneSignal SDK from working. In the current OneSignal SDK this would prevent devices from subscribing for a token.

Google just released an updating fixing this issue today in 5.3.1!
https://firebase.google.com/support/release-notes/unity#version_531_-_october_3_2018

[2018-10-03 19:04] jkasten2 commented on #119
@stewartmiles Awesome! Thanks for the quick turn around!

We'll update our docs to recommend developers update to this version to ensure compatibility between Firebase and OneSignal.

[2018-10-03 19:04] #119 closed

[2018-10-07 08:07] saeedaliakbari opened #156 "Behind Proxy App"
I am using Onesignal SDK in my android mobile game and game is behind a proxy server, how can I change the http://onesignal.com URL in my SDK?

[2018-10-08 18:35] Nightsd01 commented on #156
Hi - you would need to modify our native iOS and Android SDK's and recompile them for Unity.

https://github.com/OneSignal/OneSignal-iOS-SDK/blob/b3af92d2663d972ec06827c1cf243f4c7c8c0e1e/iOS_SDK/OneSignalSDK/Source/OneSignalCommonDefines.h#L33

https://github.com/OneSignal/OneSignal-Android-SDK/blob/c33b7a943fb8e08e174ecae8d0a63c67c0a5140c/OneSignalSDK/onesignal/src/main/java/com/onesignal/OneSign

[2018-10-08 18:35] #156 closed

[2018-10-09 11:20] saeedaliakbari commented on #156
how modify  iOS and Android SDK's and recompile them for Unity???!!!!!Help Me

[2018-10-11 06:57] aresundnes commented on #131
Still no update on this @Nightsd01 ?

[2018-10-13 03:36] jkasten2 commented on #131
I tried to reproduce this issue on new Unity 2017.4.0f1 project on macOS 10.13.6 with XCode 10.0 (10A255) and it builds without an issue. Test with [OneSignal SDK 2.7.6](https://github.com/OneSignal/OneSignal-Unity-SDK/releases/tag/2.7.6).

@edencakir @aresundnes @bhallionOhbibi @theDrGray @altaf-lsg are you seeing the exact same error as noted from @epsmarkh [original post](#issue-339321702)?
[co

[2018-10-16 18:13] Nightsd01 commented on #151
@nikomikulicic Any updates?

[2018-10-17 09:49] nikomikulicic commented on #151
@Nightsd01 , I'm sorry for the delay.

I've just tried removing all dependencies I've had. Removed Fabric and Crashlytics (which also had post build scripts). Removed my own post build script. I'm currently left with unchanged OneSignal's post build script only.

Unfortunately, badges/images still don't work properly.

Here is screenshot of embedded frameworks in main target
![screen shot 2018-10-

[2018-10-25 14:31] ameltom opened #157 "App crashes in iOS with EXC_BAD_ACCESS exception"
**Description:**
App sometimes crashes after playing a few sessions, leaving the app on background in between.
The exception is EXC_BAD_ACCESS.
There is a release note on your Unity SDK v2.7.5 says you fix it (issue #391) but, It still happens on Unity SDK v2.7.6

**Environment**
Unity OneSignal SDK version 2.7.6
The issue occurs only in iOS

[2018-10-26 05:42] storybell commented on #146
After solving this i get a warning in unity.
I used play game service , admob and one signal. All three are latest
play-service-resolver 1.2.88.0

build not working

Some conflicting dependencies were found.
The following dependency versions were modified:
com.android.support:customtabs:[26.0.0, 27.2.0[ --> com.android.support:customtabs:27.1.1@aar
com.android.support:support-v4:[26.0.0, 27.2.0[ -

[2018-10-26 07:19] storybell opened #158 "Conflict one signal , admob and play game service"
After solving this i get a warning in unity.
I used play game service 0.9.50 , admob 3.15.1 and one signal 2.7.6. All three are latest
play-service-resolver 1.2.88.0

build not working for android.Following warning were shown in unity console after force resolved.

Some conflicting dependencies were found.
The following dependency versions were modified:
com.android.support:customtabs:[26.0.0, 27.

[2018-10-29 05:07] ruben-lom opened #159 "Null Reference Exception at OneSignal.remove_permissionObserver (.PermissionObservable value)"
**Description:**

Our app seems to be crashing due to the OneSignal Unity plugin. We don't have much information about it but it looks like we are getting a null reference exception at OneSignal.remove_permissionObserver (.PermissionObservable value)

This is a very long shot, but there might be someone who is experiencing the same issue and knows what's causing it.

**Environment**

The crash onl

[2018-10-29 08:01] TeemoAtCreate commented on #131
@jkasten2 I have the exact same error like the original post.

I'm using the latest OneSignal SKD 2.7.6, Xcode Version 10.0 (10A255) and Unity 2018.2.13f1.
The workaround also works for me. ;)

The Target Dependencies you mention are empty, which is correct.
So I guess it has something to do with the new build system, like @edencakir mentions?

[2018-10-29 15:04] acoppes commented on #131
I had the same problem and fixed using legacy build system as you mention. Have you tested this solution https://stackoverflow.com/questions/51205221/how-can-i-use-the-legacy-build-system-with-xcode-10s-xcodebuild for automated builds and ci?

[2018-10-30 07:52] TeemoAtCreate commented on #131
@jkasten2 If I've got any time on my hands, I'll try to see if I can reproduce it with a new project.
Perhaps it's related to upgrading the projects unity version a couple of times...?

[2018-11-02 20:19] jkasten2 commented on #157
@ameltom Can you provide a full crash log from your device from XCode? We will need a stack trace to  look into this. Thanks!

[2018-11-06 20:09] KOSSOKO opened #160 "Résolution failed with the latst version of OnSignal"
I spent 4 days trying to find a solution. I updated Google play services, Firebase and OneSignal. When I deploy my game, my app crashes with the error below. At the beginning I thought that it is Google Play but after many tests, I decide to remove OneSignal from my project and now everything works fine. The error I got was

[code]

I don't know how to correct it. More 100 users removed the game b

[2018-11-07 09:30] jnroesch commented on #160
We also have issues with firebase, google play services and onesignal. We used all latest sdks. The Onesignal docs said to use firebase messaging 5.3.1 so we even created a new unity project with only firebase sdks and onesignal. We were not able to build. Both seem to rely on the playservice resolver however the both come with different versions (don't know the exact ones anymore but firebase com

[2018-11-07 09:37] jnroesch commented on #160
seems to be related to https://github.com/OneSignal/OneSignal-Unity-SDK/issues/146 which was supposed to be fixed. Don't know why this is re-appearing, probably a regression bug

[2018-11-07 14:36] Russel1 opened #162 "Android Crash: java.lang.ClassNotFoundException dalvik.system.BaseDexClassLoader.findClass"
Our Google Play Console shows this crash:

Android 8.0 | 161 | 71,2 %
Android 7.0 | 31 | 13,7 %
Android 8.1 | 26 | 11,5 %
Android 7.1 | 8 | 3,5 %

[code]

[2018-11-07 22:09] jkasten2 commented on #162
@Russel1 Thanks for the stacktrace, however it is missing the name of the class that didn't load. Did that show anywhere else in the crash report? If you can reproduce the crash it should show the class in the logcat.

[2018-11-07 22:15] jkasten2 commented on #160
The `play-services-resolver-1.2.88.0` compatibility fix has not be included in a release yet but we plan to do this it this week yet. Using the following file in PR #152 can be used to apply this fix now before the release.